.technology-block {
    background-color: #ffffff;
    padding-top: 92px;
    padding-bottom: 50px;
    @include large {
        padding-top: 82px;
        padding-bottom: 40px;
    }
    @include medium {
        padding-top: 74px;
        padding-bottom: 30px;
    }
    @include small {
        padding-top: 53px;
        padding-bottom: 0;
    }
}
.technology-list {
    margin-bottom: 71px;
    @include large {
        margin-bottom: 66px;
    }
    @include small {
        margin-bottom: 50px;
    }
    .col-md-4 {
        @include small {
            &:nth-child(4) {
                .technology {
                    background-color: #fffcf2;
                }
            }
            &:nth-child(5) {
                .technology {
                    background-color: #f4fbf2;
                }
            }
            &:nth-child(6) {
                .technology {
                    background-color: #f2f4fa;
                }
            } 
        }               
    }
}
.technology {
    background-color: #fffcf2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 55px 39px;
    margin-bottom: 32px;
    text-decoration: none;
    color: #121212;
    &:hover {
        span {
            color: #e77561;
            border-color: #e77561;
        }
        
    }
    @include large {
        padding: 40px 28px 0;
        flex-direction: column;
        min-height: 190px;
        align-items: flex-start;
        margin-bottom: 24px;
    }
    @include medium {
        padding: 32px 28px 0;
        margin-bottom: 9px;
    }
    @include small {
        flex-direction: row;
        align-items: center;
        min-height: auto;
        padding: 20px;
        margin-bottom: 14px;
    }
    &--green {
        background-color: #f4fbf2;
    }
    &--purple {
        background-color: #f2f4fa;
    }
    .icon {
        width: 80px;
        height: 80px;
        flex: 0 0 auto;
        margin-right: 32px;
        @include large {
            width: 60px;
            height: 60px;
            margin: 0 0 15px;
        }
        @include small {
            width: 40px;
            height: 40px;
            margin-bottom: 0;
            margin-right: 19px;
        }
    }
    strong {
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        transition: 0.3s;
        @include medium {
            font-size: 15px;
        }
        @include small {
            font-size: 14px;
        }
        span {
            line-height: 1;
            border-bottom: 1px solid #121212;
        }

    }
}
