include ../form-index/form-index.pug
mixin technology
    section.technology-block
        .container-fluid
            h5.h-title Технологии и материалы, используемые в работе
            .technology-list
                .row
                    .col-md-4
                        a(href="").technology
                            svg.icon
                                use(xlink:href="#icon-techno_01")
                            strong 
                                span Умный дом
                    .col-md-4
                        a(href="").technology.technology--green
                            svg.icon
                                use(xlink:href="#icon-techno_02")
                            strong 
                                span Экологичные материалы
                    .col-md-4
                        a(href="").technology.technology--purple
                            svg.icon
                                use(xlink:href="#icon-techno_03")
                            strong 
                                span Проверка по 135 параметрам
                    .col-md-4
                        a(href="").technology.technology--purple
                            svg.icon
                                use(xlink:href="#icon-techno_04")
                            strong 
                                span Профессиональное проектирование
                    .col-md-4
                        a(href="").technology
                            svg.icon
                                use(xlink:href="#icon-techno_05")
                            strong 
                                span Современные материалы
                    .col-md-4
                        a(href="").technology.technology--green
                            svg.icon
                                use(xlink:href="#icon-techno_06")
                            strong 
                                span Фотоотчет на каждом этапе
            +form-index