.cart_screen {
    position: relative;
    margin-bottom: 92px;
    @include medium {
        margin-bottom: 30px;
    }
    @include small {
        margin-bottom: 0px;
        padding-bottom: 40px;
        background-color: #ffffff;
    }
    &__container {
        min-height: 544px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 32px;
        
        position: relative;

        @include large {
            min-height: 675px;
            
        }
        @include medium {
            padding-top: 20px;
            padding-bottom: 30px;
            margin-bottom: 0;
            min-height: 625px;
        }
        @include small {
            padding-top: 50px;
            min-height: auto;
            padding-bottom: 70px;
            margin-bottom: 40px;
        }
        .btn {
            @include small {
                max-width: 375px;
                margin: 0 auto;
                display: block;
            }
        }
    }
    .container-fluid {
        position: relative;
    }

    &__content {
        height: 444px;
        @include large {
            height: auto;
        }
    }
    .breadcrumbs {
        margin-bottom: 46px;
    }
    .breadcrumbs__link {
        color: #ffffff;
    }
    .breadcrumbs__item {
        span {
            color: #ffffff;
        }
    }    
}
.cart_screen__main {
    position: relative;
    z-index: 3;
}
.h-top {
    width: 100%;
    top: 15px;
    z-index: 5;
    background-color: #ffffff;


}
.cart_screen__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    @include medium {
        bottom: 30px;
    }
    @include small {
        position: static;
    }
}
header {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 15px 15px 10px;
    display: flex;
    align-items: center;
    max-width:  1366px;
    margin: 0 auto;
    border-radius: 0;
    @include large {
        padding: 15px 32px 10px;
    }
 
    @include medium {
        padding: 15px 10px;
        
    }
    @include small {
        padding: 5px 9px;
    }
   
}
.logo  {
    max-width: 103px;
    display: block;
    @include small {
        max-width: 92px;
    }
    img {
        max-width: 100%;
    }
}
.favorites {
    position: relative;
    text-decoration: none;
    &-count {
        position: absolute;
        font-size: 8px;
        background-color: #f8d360;
        line-height: 1;
        padding: 3px 5px;
        border-radius: 50%;
        top: 8px;
        right: 7px;
        @include small {
            position: absolute;
            top: 9px;
            right: 9px;
            padding: 2px 4px;
            font-size: 7px;
        }
    }
}
.menu {
    display: flex;
    font-size: 13px;
    color: #7d7d7d;
    font-weight: 300;
    margin-left: 34px;
    @include small {
        margin-left: 21px;
        & > span {
            display: none;
        }
    }
    cursor: pointer;
    
    &__icon {
        width: 29px;
        margin-left: 16px;
        
        @include small {
            margin-left: 0;
        }
        span {
            display: block;
            height: 2px;
            background-color: #000000;
            margin-bottom: 8px;
            transition: 0.3s;
            &:last-child {
                margin-bottom: 0;
                width: 18px;
            }
        }
    }
    &:hover {
        .menu__icon span:last-child {
            width: 100%;
        }
    }
}
.header__right {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.navbar-header {
    display: flex;
    margin-left: 121px;
    flex-wrap: wrap;
    @include large {
        margin-left: 83px;
    }
    @include medium {
        display: none;
    }
    &__link {
        font-weight: 400;
        font-size: 15px;
        color: #212121;
        text-decoration: none;
        margin-right: 58px;
        transition: 0.3s;
        &:hover {
            color: #e77561;
            text-decoration: underline  ;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f6f7f9;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    @include small {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    &:last-child {
        margin-right: 0;
    }
}
.navbar-favorits {
    display: flex;
    .icons {
        transition: 0.3s;
        &:hover {
            background-color: #fff6dd;
        }
    }
}
.reviews {
    margin-bottom: 47px;
    @include large {
        margin-bottom: 31px;
    }
    @include medium {
        margin-bottom: 38px;
    }
    &-stars {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        line-height: 1;

    }
    &__star {
        margin-right: 10px;
        @include small {
            margin-right: 11px;
            margin-bottom: 0;
        }
        .icon {
            fill: #e4e6ee;
            width: 1.35em;
            height: 1.35em;
        }
        &--active {
            .icon {
                fill: #f8d360;
            }
        }
    }
    &__count {
        font-family: 'Philosopher', sans-serif;
        color: #fffffe;
        font-size: 16px;
        margin-left: 8px;
        margin-top: 4px;
        @include small {
            margin-left: 5px;
        }
    }
    &__link {
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0.05em;

        @include small {
            font-size: 12px;
        }
    }
}
.cart-box {
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    @include large {
        margin-top: 67px;
    }
    @include medium {
        margin-top: 58px;
        border-radius: 15px;
    }
    @include small {
        margin-top: 0;
        flex-direction: column;
        height: auto;
        border: 1px solid #e4e6ee;
    }
}
.box-video {

    max-width: 310px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 32px;
    flex: 0 0 auto;
    min-height: 200px;
    img , picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    @include large {
        max-width: 303px;
        margin-right: 24px;
        margin: 0 0 34px;
    }
    @include small {
        max-width: none;
        margin: 0 -1px 34px;
        width: calc(100% + 2px);
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 33, 34,0.7)

    }
    &__content {
        position: relative;
        z-index: 1;
        padding-bottom: 40px;
    }
    &__footer {
        height: 40px;
        background-color: rgb(248, 211, 96);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        font-size: 13px;
        padding: 9px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include small {
            padding: 0 14px;
        }
    }
    .play {
        width: 19px;
        height: 20px;
        cursor: pointer;
        transition: 0.3s;
        position: absolute;
        &:hover {
            transform: scale(2);
        }
        .icon {
            width: 19px;
            height: 20px;
            path {
                fill: #ffffff;
            }
        }        
    }
    
}
.full-screen {
    width: 18px;
    height: 18px;
    cursor: pointer;
    .icon {
        width: 18px;
        height: 18px;
    }
}
.icon--handshake {
    font-size: 41px;
    @include small {
        font-size: 33px;
    }
}
.icon-loop {
    font-size: 14px;
    @include small {
        font-size: 11px;
    }
}
.icon-favorites {
    font-size: 43px;
}
.box-cart {
    padding-top: 43px;
    margin-left: 0;
    max-width: 250px;
    width: 100%;
    @include small {
        max-width: none;
        padding: 0 15px 0px;
        margin-bottom: 20px;
    }
    .icon {
        margin-bottom: 21px;
        @include small {
            margin-bottom: 11px;
        }
    }
    p {
        font-size: 16px;
        font-weight: 300;
        @include small {
            font-size: 15px;
            
        }
    }
    strong {
        font-weight: 500;
        text-decoration: underline;
    }
    a {
        color: #212122;
    }
}
.right-control {
    position: absolute;
    right: 52px;
    top: 80px;
    z-index: 5;
    @include large {
        right: 32px;
    }
    @include medium {
        right: 10px;
    }
    @include small {
        position: static;
        display: inline-flex;
        flex-direction: row-reverse;
    }
}
.control {
    position: relative;
    margin-bottom: 10px;
    @include small {
        margin-right: 10px;
    }
    &__icon {
        width: 50px;
        cursor: pointer;
        height: 50px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255,0.25);
        @include small {
            width: 40px;
            height: 40px;
        }
        .icon {
            fill: #ffffff;
            width: 100%;
            height: 100%;
            transition: 0.3s;
        }
        &:hover ~ .control__container {
            opacity: 1;
            visibility: visible;
            display: block;
        
        }

    }
    &__container {

        opacity: 0;
        transition: 0.3s;
        visibility: hidden;
        position: absolute;
        display: none;
        right: calc(100% + 20px);
        top: 50%;
        transform: translateX(0) translateY(-50%);
        z-index: 7;
        @include small {
            right: auto;
            left: 0;
            bottom: 0;
            top: 50px;
            transform: translateX(0) translateY(0);
        }
    }
    &__main  {
        position: relative;
        background-color: #ffffff;
        white-space: nowrap;
        cursor: pointer;
        max-width: 300px;
        padding: 15px 20px;
        font-size: 12px;
        font-weight: 300;
        border-radius: 4px;

        &:after {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            right: -5px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);  

            @include small {
                left: 15px;
                right: auto;
                top: 0;
                transform: translateY(-50%) rotate(45deg);    
            }            

        }
    }
    
}
.control--favorites {
    .control__container {
        @include small {
            display: none !important;
        }
    }
    &--active {
        .icon {
            fill: #ffd456;
        }
    }
}
.js-control-share {
    &:hover {
        .control__container {
            opacity: 1;
            visibility: visible;
        }
    }

}
.control--share {
    span {
        display: block;
    }
    .social-list {
        margin: 10px 0 0 0;
        display: none;
        width: 264px;
        flex-wrap: wrap;
        @include large {
            display: flex;
        }
       
    }
    .control__main {
        padding: 15px;
    }
    &:hover {
        .control__container {
            opacity: 1;
            visibility: visible;
        }
    }
    &.show-share {
        .control__icon {
            .icon {
                fill: #ffd456;
            }
        }

        .control__container {
            opacity: 1;
            visibility: visible;
            display: block;
        }        
        .social-list {
            display: flex;
            
        }
    }
}