include ../../components/breadcrumbs/breadcrumbs
include ../header__right/header__right.pug
mixin cart_screen
    .cart_screen
        .h-top
            header
                a(href="").logo   
                    img(src="images/logo.png", alt="")
                .navbar-header
                    a(href="").navbar-header__link О компании
                    a(href="").navbar-header__link Строители
                    a(href="").navbar-header__link Заказы
                +header__right


        .cart_screen__container(style="background-image: url(images/bh.jpg)")
            .container-fluid
                .right-control
                    .control.control--favorites
                        .control__icon.js-add-favorites
                            svg.icon.icon-favorites
                                use(xlink:href="#icon-favorites")
                        .control__container
                            .control__main Добавить в Избранное
                    .control.control--share.js-control-share
                        .control__icon
                            svg.icon.icon-favorites
                                use(xlink:href="#icon-share")
                        .control__container
                            .control__main 
                                span Поделиться
                                ul.social-list
                                    li.social-item
                                        a(href="" aria-label="Копировать ссылку").social.social--link.js-copylink
                                            svg.icon.icon--copy
                                                use(xlink:href="#icon-copy")
                                    li.social-item
                                        a(href="" aria-label="Facebook").social
                                            svg.icon
                                                use(xlink:href="#icon-fb")
                                    li.social-item
                                        a(href="" aria-label="Вконтакте").social
                                            svg.icon
                                                use(xlink:href="#icon-vk")  
                                    li.social-item
                                        a(href="" aria-label="Twitter").social
                                            svg.icon
                                                use(xlink:href="#icon-tw")  
                                    li.social-item
                                        a(href="" aria-label="Одноклассники").social
                                            svg.icon
                                                use(xlink:href="#icon-ok")
                                    li.social-item
                                        a(href="" aria-label="Телеграмм").social
                                            svg.icon
                                                use(xlink:href="#icon-tg")
                +breadcrumbs()
                    +breadcrumbs-item('Главная' , 'index.html')
                    +breadcrumbs-item('Строители' , 'catalog.html')
                    +breadcrumbs-item('Строительный квадрат')
                .cart_screen__content.row
                    .col-xl-4.col-lg-6.cart_screen__main
                        h1.title Компания строительный квадрат
                        .title-desc Строительство домов, отделка домов инженерные коммуникации
                        .reviews
                            .reviews-stars
                                .reviews__star.reviews__star--active
                                    svg.icon
                                        use(xlink:href="#icon_star")
                                .reviews__star.reviews__star--active
                                    svg.icon
                                        use(xlink:href="#icon_star")
                                .reviews__star.reviews__star--active
                                    svg.icon
                                        use(xlink:href="#icon_star")
                                .reviews__star.reviews__star--active
                                    svg.icon
                                        use(xlink:href="#icon_star")
                                .reviews__star
                                    svg.icon
                                        use(xlink:href="#icon_star") 
                                .reviews__count 4.1
                            a(href="#reviews-block").reviews__link.js-scroll 6 отзывов
                        a(href="").btn.btn--red Оставить заявку
        .cart_screen__bottom
            .container-fluid
                .row
                    .col-xl-8.col-lg-10.align-self-end.offset-xl-4.offset-lg-2
                        .cart-box
                            .box-video

                                img(src="" data-src='images/video-bg.jpg', alt='Изображение' class="lazyload")                            
                      
                                .box-video__content
                                    .js-open-video.play(data-toggle="modal" data-target="#modalVideo" data-src="https://www.youtube.com/watch?v=EX2au8gl0OA")
                                        svg.icon
                                            use(xlink:href="images/svg/sprite.svg#icon-play")
                                .box-video__footer
                                    span Видео о компании
                                    .full-screen.js-open-video(data-toggle="modal" data-target="#modalVideo"  data-src="https://www.youtube.com/watch?v=EX2au8gl0OA")
                                        svg.icon
                                            use(xlink:href="#icon-resize")
                            .box-cart
                                svg.icon.icon--handshake
                                    use(xlink:href="#icon-handshake")
                                p 7 лет на рынке <br>
                                    strong
                                        a(href="#team-block").js-scroll бригада 10 человек
                            .box-cart
                                svg.icon.icon--handshake
                                    use(xlink:href="#icon-location")
                                p г. Москва,  Мичуринский пр-т д.36