mixin company-list
    section.company-list-block
        .container-fluid
            h2.title.title--black.title--small Строительные компании
            .company-list.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .object.company-object
                            a(href="").object__images
                                .object-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")                                            
                                    .swiper-pagination
                                    .js-slider-img.swiper-button-next(data-icon="5")
                                    .js-slider-img.swiper-button-prev(data-icon="4")
                            .object-body
                                a(href="").object__name Строительный Квадрат
                                .reviews
                                    .reviews-stars
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star
                                            svg.icon
                                                use(xlink:href="#icon_star") 
                                        .reviews__count 4.1
                                    a(href="").reviews__link 6 отзывов
                                .object-count-list
                                    .object-count 
                                        span Количество работ на сайте:
                                        strong 17
                                    .object-count 
                                        span Уровень цен на услуги:
                                        strong ₽₽        
                                p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань...
                                a(href="").btn Подробнее
                    .swiper-slide
                        .object.company-object
                            a(href="").object__images
                                .object-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                    .swiper-pagination
                                    .js-slider-img.swiper-button-next(data-icon="5")
                                    .js-slider-img.swiper-button-prev(data-icon="4")
                            .object-body
                                a(href="").object__name Строительный Квадрат
                                .reviews
                                    .reviews-stars
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star
                                            svg.icon
                                                use(xlink:href="#icon_star") 
                                        .reviews__count 4.1
                                    a(href="").reviews__link 6 отзывов
                                .object-count-list
                                    .object-count 
                                        span Количество работ на сайте:
                                        strong 17
                                    .object-count 
                                        span Уровень цен на услуги:
                                        strong ₽₽        
                                p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань...
                                a(href="").btn Подробнее
                    .swiper-slide
                        .object.company-object
                            a(href="").object__images
                                .object-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                    .swiper-pagination
                                    .js-slider-img.swiper-button-next(data-icon="5")
                                    .js-slider-img.swiper-button-prev(data-icon="4")
                            .object-body
                                a(href="").object__name Строительный Квадрат
                                .reviews
                                    .reviews-stars
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star
                                            svg.icon
                                                use(xlink:href="#icon_star") 
                                        .reviews__count 4.1
                                    a(href="").reviews__link 6 отзывов
                                .object-count-list
                                    .object-count 
                                        span Количество работ на сайте:
                                        strong 17
                                    .object-count 
                                        span Уровень цен на услуги:
                                        strong ₽₽        
                                p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань...
                                a(href="").btn Подробнее
                    .swiper-slide
                        .object.company-object
                            a(href="").object__images
                                .object-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                    .swiper-pagination
                                    .js-slider-img.swiper-button-next(data-icon="5")
                                    .js-slider-img.swiper-button-prev(data-icon="4")
                            .object-body
                                a(href="").object__name Строительный Квадрат
                                .reviews
                                    .reviews-stars
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star
                                            svg.icon
                                                use(xlink:href="#icon_star") 
                                        .reviews__count 4.1
                                    a(href="").reviews__link 6 отзывов
                                .object-count-list
                                    .object-count 
                                        span Количество работ на сайте:
                                        strong 17
                                    .object-count 
                                        span Уровень цен на услуги:
                                        strong ₽₽        
                                p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань...
                                a(href="").btn Подробнее
                .company-list-bottom
                    a(href="").show-all Все компании
                    .swiper-btn
                        .swiper-button-prev.js-btns
                            svg.icon
                                use(xlink:href="#icon-arrow_work")
                        .swiper-button-next.js-btns
                            svg.icon
                                use(xlink:href="#icon-arrow_work")   
                                