.company-list-block {
    padding: 92px 0 100px;
    @include large {
        padding: 81px 0 100px;
    }
    @include small {
        padding: 50px 0;
    }
    .title {
        margin-bottom: 35px;
        @include large {
            margin-bottom: 31px;
        }
    }
}
.company-list {
    .swiper-slide {
        max-width: 424px;
        @include medium {
            max-width: 364px;
        }
    }


    .swiper-wrapper {
        margin-bottom: 45px;
        @include small {
            margin-bottom: 20px;
        }
    }

 
 
}
.company-object {
    .object__images {
        height: 240px;
        border-radius: 0;
        width: 100%;
    }
    .object-body {
        padding: 22px 31px 30px;
        @include small {
            padding: 15px 15px 30px; 
        }
        .reviews__star {
            margin-right: 10px;
        }
        p {
            margin-bottom: 22px;
        }
        .btn {
            width: 100%;
            max-width: 375px;
            
        }
    }
    transition: 0.3s;
    &:hover {

        box-shadow: -15px 0px 25px 0px rgba(0, 0, 0, 0.05);
          
    }
    @include large {
        padding: 0;
    }
}
.company-list-bottom {
    display: flex;
    position: relative;
    @include small {
        flex-direction: column-reverse;
    }
    .swiper-btn {
        position: absolute;
        right: 0;
        margin-top: 0;
        @include small {
            position: static;
        }
    }
}