@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i|Rubik:300,400,500,700,900&display=swap');
@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:after {
	font-family: 'ElegantIcons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
    padding-top: 26px;
}
.main--catalog {
    padding-bottom: 100px;
    @include medium {
        padding-bottom: 79px;
    }
    @include small {
        padding-bottom: 60px;
    }
}
.container-fluid {
    max-width: 1440px;
    padding: 0 52px;
    @include large {
        padding: 0 32px;
    }
    @include medium {
        padding: 0 10px;
    }
    @include small {
        padding: 0 15px;
        // max-width: 375px;
    }
}
body {
    color: #212122;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 300;
    overflow-x: hidden;
    background-color: #f6f7f9;
    @include small {
        font-size: 13px;
    }
}
.icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    @include small {
        width: 1.3em;
        height: 1.3em;
    }
}
.title {
    font-family: 'Philosopher', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 21px;
    &--black {
        color: #212122;
    }
    &--small {
        font-size: 26px;
    }
    @include medium {
        font-size: 26px;
    }
    @include small {
        font-size: 20px;
        margin-bottom: 18px;
    }
}
.h-title {
    font-family: 'Philosopher', sans-serif;
    display: flex;
    align-items: flex-end;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 35px; 

    @include large {
        margin-bottom: 30px;
    }
    @include medium {
        font-size: 22px;
        display: block;
    }
    @include small {
        font-size: 20px;
        letter-spacing: 0.025em;
    }
}
.title-desc {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 19px;
    @include large {
        margin-bottom: 10px;
    }
    @include medium {
        margin-bottom: 18px;
    }
    @include small {
        font-size: 15px;
        margin-bottom: 16px;
    }
}
.btn {
    line-height: 1;
    color: #212122;
    text-decoration: none;
    padding: 1.38rem 4.9rem;
    font-size: 14px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color:  #e77561;
    transition: 0.3s;
    &:focus ,
    &:active {
        outline: 0;
        box-shadow: none
    }
    @include medium {
        padding: 1.38rem 3.85rem;
    }
    &:hover {
        background-color: #eb8a79;
        color: #ffffff;
    }
    &--red {
        background-color: #e77561;
        color: #ffffff;
        &:hover {
            background-color: #eb8a79;
            border-color:  #eb8a79;
            color: #ffffff;
        }
        &.btn--nohover {
            &:hover {
                background-color: #eb8a79;
                border-color:  #eb8a79;
                color: #ffffff;
            }
        }
    }
    &--default {
        font-weight: 500;
        border-color: #212122;
        color: #212122;
        &:hover {
            background-color: #e77561;
            border-color: #e77561;
            color: #ffffff;
        }
    }
}

strong {
    font-weight: 500;
}
label {
    display: block;
    margin-bottom: 0;
}
sup {
    top: -7px;
    
}

sub {
    top: 7px;
}
h1 {
    font-size: 30px;
    margin-bottom: 36px;
    @include medium {
        font-size: 26px;
    }
    @include small {
        font-size: 21px;
        line-height: 1.47;
        letter-spacing: 0.025em;
        margin-bottom: 27px;
    }
}
h6 {
    font-size: 26px;
    margin-bottom: 18px;
    @include medium {
        font-size: 22px;
    }
}
h1,h2,h3,h4,h5, h6 {
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.count {
    border-radius: 4px;
    background-color: rgb(228, 230, 238);
    min-width: 50px;
    padding: 0 15px 0 15px;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    @include small {
        font-size: 16px;
        height: 26px;
        padding: 0 5px;
        min-width: 30px;
    }
}
.blog-page {
    h1 {
        margin-bottom: 40px;
        @include small {
            margin-bottom: 27px;
        }
    }
    .filter {
        margin-bottom: 45px;
        @include small {
            margin-bottom: 21px;
        }
    }
    .filter-item {
        font-size: 13px;
        font-weight: 500;
        padding: 1.22rem 2.75rem;
        border-radius: 50px;
        min-width: auto;
        margin-right: 19px;
        @include small {
            padding: 1rem 2.1rem;
            white-space: nowrap;
            margin-right: 10px;
        }
    }
}
.articles-page {
    padding-top: 45px;
    @include medium {
        padding-top: 29px;
    }
    .container-fluid {
        @include small {
            max-width: 100%;
        }
    }
}
.tag-list {
    display: flex;
    margin-bottom: 10px;
    @include small {
        margin-bottom: 7px;
    }
}
.tag {
    margin-right: 10px;
    font-weight: 500;
    font-size: 12px;
    color: #212122;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    border-radius: 4px;
    background-color: rgba(248, 211, 96,0.4);
    padding: 0 16px;     
    @include small {
        font-size: 10px;
    } 
    &:last-child {
        margin-right: 0;
    }
}