mixin sertificate-block
    section.sertificate-block
        .container-fluid
            h5.h-title Сертификаты компании
            .sertificate-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .sertificate
                            a(data-fancybox="gallery" href="images/144de12843e5d3b6a57f3ca1db191364.jpg").loupe T
                            img(data-src="images/144de12843e5d3b6a57f3ca1db191364.jpg", alt="").lazyload
                    .swiper-slide
                        .sertificate
                            a(data-fancybox="gallery" href="images/sert1.jpg").loupe T
                            img(data-src="images/sert1.jpg", alt="").lazyload
                    .swiper-slide
                        .sertificate
                            a(data-fancybox="gallery" href="images/144de12843e5d3b6a57f3ca1db191364.jpg").loupe T
                            img(data-src="images/144de12843e5d3b6a57f3ca1db191364.jpg", alt="").lazyload
                    .swiper-slide
                        .sertificate
                            a(data-fancybox="gallery" href="images/sert1.jpg").loupe T
                            img(data-src="images/sert1.jpg", alt="").lazyload
                    .swiper-slide
                        .sertificate
                            a(data-fancybox="gallery" href="images/144de12843e5d3b6a57f3ca1db191364.jpg").loupe T
                            img(data-src="images/144de12843e5d3b6a57f3ca1db191364.jpg", alt="").lazyload
                    .swiper-slide
                        .sertificate
                            a(data-fancybox="gallery" href="images/sert1.jpg").loupe T
                            img(data-src="images/sert1.jpg", alt="").lazyload
                    .swiper-slide
                        .sertificate
                            a(data-fancybox="gallery" href="images/144de12843e5d3b6a57f3ca1db191364.jpg").loupe T
                            img(data-src="images/144de12843e5d3b6a57f3ca1db191364.jpg", alt="").lazyload
            .team-bottom.justify-content-end
                .swiper-btn
                    .swiper-button-prev
                        svg.icon
                            use(xlink:href="#icon-arrow_work")
                    .swiper-button-next
                        svg.icon
                            use(xlink:href="#icon-arrow_work")