.sertificate-block {
    background-color: #ffffff;
    padding-bottom: 80px;
    @include small {
        padding-bottom: 40px;
    }
}
.sertificate-slider {
    margin-bottom: 30px;
}
.loupe {
    border-radius: 50%;
    background-color: rgb(248, 211, 96);
    width: 60px;
    height: 60px;
    font-family: 'ElegantIcons';
    font-size: 24px;
    color: #212122;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)  scale(-1, 1) ;
    opacity: 0;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    @include medium {
        opacity: 0.749;
    }
}
.sertificate {
    position: relative;
    height: 340px;
    @include small {
        height: 250px;
    }
    img {
        max-width: 100%;
        object-fit: cover;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    &:hover {
        .loupe {
            opacity: 0.749;
        }
    }    
}