extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/footer/footer.pug
include ../blocks/company-list/company-list.pug
include ../blocks/index-screen/index-screen.pug
include ../blocks/about-project/about-project.pug
include ../blocks/partners/partners.pug
include ../blocks/articles__content/articles__content.pug
include ../blocks/read-articles/read-articles.pug
include ../blocks/header__right/header__right.pug
include ../blocks/articles-blog/articles-blog.pug
include ../components/breadcrumbs/breadcrumbs

block title
    +head({
        title: '8 советов по выбору металлочерепицы для кровли' ,
        url: url,
        desc: "Описание страницы",
        img: "images/bh.jpg"
    })              
block pagecontent
    .h-top
        header
            a(href="").logo   
                img(data-src="images/logo.png", alt="").lazyload
            .navbar-header
                a(href="").navbar-header__link О компании
                a(href="").navbar-header__link Строители
                a(href="").navbar-header__link Заказы
            +header__right
    main.articles-page
        .container-fluid
            .row
                .col-xl-8
                    .articles-main
                        +articles__content
                        .hastag-list
                            strong #
                            a(href="").hastag Обзоры
                            a(href="").hastag События
                .col-xl-4
                    .right-aricles
                        .title.title--black Компании, занимающиеся кровлей
                        .row
                            .col-xl-12.col-md-6
                                .object.company-object
                                    a(href="").object__images
                                        .object-slider.swiper-container
                                            .swiper-wrapper
                                                .swiper-slide
                                                    img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                                .swiper-slide
                                                    img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                                .swiper-slide
                                                    img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                            .swiper-pagination
                                            .js-slider-img.swiper-button-next(data-icon="5")
                                            .js-slider-img.swiper-button-prev(data-icon="4")
                                    .object-body
                                        a(href="").object__name Строительный Квадрат
                                        .reviews
                                            .reviews-stars
                                                .reviews__star.reviews__star--active
                                                    svg.icon
                                                        use(xlink:href="#icon_star")
                                                .reviews__star.reviews__star--active
                                                    svg.icon
                                                        use(xlink:href="#icon_star")
                                                .reviews__star.reviews__star--active
                                                    svg.icon
                                                        use(xlink:href="#icon_star")
                                                .reviews__star.reviews__star--active
                                                    svg.icon
                                                        use(xlink:href="#icon_star")
                                                .reviews__star
                                                    svg.icon
                                                        use(xlink:href="#icon_star") 
                                                .reviews__count 4.1
                                            a(href="").reviews__link 6 отзывов
                                        .object-count-list
                                            .object-count 
                                                span Количество работ на сайте:
                                                strong 17
                                            .object-count 
                                                span Уровень цен на услуги:
                                                strong ₽₽        
                                        p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань...
                                        a(href="").btn Подробнее
                            .col-xl-12.col-md-6
                                .object.company-object
                                    a(href="").object__images
                                        .object-slider.swiper-container
                                            .swiper-wrapper
                                                .swiper-slide
                                                    img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                                .swiper-slide
                                                    img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                                .swiper-slide
                                                    img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                            .swiper-pagination
                                            .js-slider-img.swiper-button-next(data-icon="5")
                                            .js-slider-img.swiper-button-prev(data-icon="4")
                                    .object-body
                                        a(href="").object__name Строительный Квадрат
                                        .reviews
                                            .reviews-stars
                                                .reviews__star.reviews__star--active
                                                    svg.icon
                                                        use(xlink:href="#icon_star")
                                                .reviews__star.reviews__star--active
                                                    svg.icon
                                                        use(xlink:href="#icon_star")
                                                .reviews__star.reviews__star--active
                                                    svg.icon
                                                        use(xlink:href="#icon_star")
                                                .reviews__star.reviews__star--active
                                                    svg.icon
                                                        use(xlink:href="#icon_star")
                                                .reviews__star
                                                    svg.icon
                                                        use(xlink:href="#icon_star") 
                                                .reviews__count 4.1
                                            a(href="").reviews__link 6 отзывов
                                        .object-count-list
                                            .object-count 
                                                span Количество работ на сайте:
                                                strong 17
                                            .object-count 
                                                span Уровень цен на услуги:
                                                strong ₽₽        
                                        p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань...
                                        a(href="").btn Подробнее
            +read-articles
    +footer