extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/cart_screen/cart_screen.pug
include ../blocks/about_company/about_company.pug
include ../blocks/footer/footer.pug
include ../blocks/index-project/index-project.pug
include ../components/breadcrumbs/breadcrumbs.pug
include ../blocks/technology/technology.pug
include ../blocks/team/team.pug
include ../blocks/contacts-index/contacts-index.pug
include ../blocks/reviews/reviews.pug
include ../blocks/sertificate-block/sertificate-block.pug



block title
    +head({
        title: 'Компания строительный квадрат' ,
        url: url,
        desc: "Описание страницы",
        img: "images/bh.jpg"
    })        
block pagecontent
    +cart_screen
    main
        .container-fluid
            +about_company
            +index-project
        +technology
        +team
        +contacts-index
        +sertificate-block
        +reviews
    +footer