extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/footer/footer.pug
include ../components/breadcrumbs/breadcrumbs.pug
include ../blocks/filter/filter.pug
include ../blocks/sorting/sorting.pug
include ../blocks/services/services.pug
include ../blocks/header__right/header__right.pug


    +head({
        title: 'Компания строительный квадрат' ,
        url: url,
        desc: "Описание страницы",
        img: "images/bh.jpg"
    })           
block pagecontent
    .h-top
        header
            a(href="").logo   
                img(data-src="images/logo.png", alt="").lazyload
            .navbar-header
                a(href="").navbar-header__link О компании
                a(href="").navbar-header__link Строители
                a(href="").navbar-header__link Заказы
            +header__right
    main.main--catalog
        .container-fluid
            +breadcrumbs
                +breadcrumbs-item('Главная' , 'index.html')
                +breadcrumbs-item('Строители')
            h1 Строители в Москве и Московской области
            +filter
            +sorting
            .object-list.object-list--catalog
                .object
                    .row
                        .col-md-5
                            a(href="").object__images
                                .object-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")      
                                    .swiper-pagination
                                    .js-slider-img.swiper-button-next(data-icon="5")
                                    .js-slider-img.swiper-button-prev(data-icon="4")
                        .col-md-7 
                            .object-body
                                a(href="").object__name Строительный Квадрат
                                .reviews
                                    .reviews-stars
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star
                                            svg.icon
                                                use(xlink:href="#icon_star") 
                                        .reviews__count 4.1
                                    a(href="").reviews__link 6 отзывов
                                .object-count-list
                                    .object-count 
                                        span Количество работ на сайте:
                                        strong 17
                                    .object-count 
                                        span Уровень цен на услуги:
                                        strong ₽₽
                                p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань под ключ, Строительство деревянных домов, Строительство нового дома, Экологичное (зеленое) строительство
                                a(href="").btn Подробнее
                .object
                    .row
                        .col-md-5
                            a(href="").object__images
                                .object-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")      
                                    .swiper-pagination
                                    .js-slider-img.swiper-button-next(data-icon="5")
                                    .js-slider-img.swiper-button-prev(data-icon="4")
                        .col-md-7 
                            .object-body
                                a(href="").object__name Строительный Квадрат
                                .reviews
                                    .reviews-stars
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star
                                            svg.icon
                                                use(xlink:href="#icon_star") 
                                        .reviews__count 4.1
                                    a(href="").reviews__link 6 отзывов
                                .object-count-list
                                    .object-count 
                                        span Количество работ на сайте:
                                        strong 17
                                    .object-count 
                                        span Уровень цен на услуги:
                                        strong ₽₽
                                p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань под ключ, Строительство деревянных домов, Строительство нового дома, Экологичное (зеленое) строительство
                                a(href="").btn Подробнее
                .blurb
                    span Рекламный баннер
                .object
                    .row
                        .col-md-5
                            a(href="").object__images
                                .object-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                        .swiper-slide
                                            img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")      
                                    .swiper-pagination
                                    .js-slider-img.swiper-button-next(data-icon="5")
                                    .js-slider-img.swiper-button-prev(data-icon="4")
                        .col-md-7 
                            .object-body
                                a(href="").object__name Строительный Квадрат
                                .reviews
                                    .reviews-stars
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star.reviews__star--active
                                            svg.icon
                                                use(xlink:href="#icon_star")
                                        .reviews__star
                                            svg.icon
                                                use(xlink:href="#icon_star") 
                                        .reviews__count 4.1
                                    a(href="").reviews__link 6 отзывов
                                .object-count-list
                                    .object-count 
                                        span Количество работ на сайте:
                                        strong 17
                                    .object-count 
                                        span Уровень цен на услуги:
                                        strong ₽₽
                                p Каркас дома, План дома, Подготовка участка, Проект дома на заказ, Проектирование участка, Ремонт квартир и домов, Строительство бань под ключ, Строительство деревянных домов, Строительство нового дома, Экологичное (зеленое) строительство
                                a(href="").btn Подробнее
            .pagintaion 
                a(href="").pagintaion__link.pagintaion__link--disabled.pagintaion__link--prev &#x23;
                a(href="").pagintaion__link.pagintaion__link--active 1
                a(href="").pagintaion__link 2
                a(href="").pagintaion__link 3
                span . . . 
                a(href="").pagintaion__link 126
                a(href="").pagintaion__link.pagintaion__link--next &#x24;
    +services
    +footer