extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/footer/footer.pug
include ../blocks/company-list/company-list.pug
include ../blocks/index-screen/index-screen.pug
include ../blocks/about-project/about-project.pug
include ../blocks/partners/partners.pug
include ../blocks/header__right/header__right.pug


block title
    +head({
        title: 'Компания строительный квадрат' ,
        url: url,
        desc: "Описание страницы",
        img: "images/bh.jpg"
    })              
block pagecontent
    .h-top
        header
            a(href="").logo   
                img(data-src="images/logo.png", alt="").lazyload
            .navbar-header
                a(href="").navbar-header__link О компании
                a(href="").navbar-header__link Строители
                a(href="").navbar-header__link Заказы
            +header__right
    +index-screen
    +company-list
    +about-project
    +partners
    +footer                        