.team-block {
    padding: 90px 0 99px;
    @include large {
        padding: 79px 0 90px;
    }
    @include medium {
        padding: 68px 0 80px;
    }
    @include small {
        padding: 50px 0;
    }
    .h-title {
        margin-bottom: 15px;
    }

}
.team-slider {
    margin-bottom: 24px;
    @include large {
        margin-bottom: 20px;
    }
    @include medium {
        margin-bottom: 12px;
    }
    @include small {
        margin: 0 -15px 23px;
        width: calc(100% + 30px);
        padding: 0 15px;

    }
    .swiper-slide {
        @include small {
            max-width: 290px;
        }
    }
}
.team {
    background-color: #ffffff;
    padding: 18px 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    margin: 20px 0;

    @include medium {
        font-size: 14px;
        padding: 18px 20px 25px;
    }
    &__avatar {
        overflow: hidden;
        max-height: 220px;
        margin-bottom: 23px;
        @include medium {
            margin-bottom: 15px;
        }
        img {
            max-width: 100%;
            border-radius: 15px;
            display: block;
            margin: 0 auto;
        }
    }
    &__name {
        color: #7d7d7d;
        font-family: 'Philosopher', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin-bottom: 4px;
        @include medium {
            font-size: 16px;
            margin-bottom: 6px;
        }
    }
    &__name {
       
    }
    &__position {
        margin-bottom: 5px;
    }
}
.socials {
    display: flex;
    align-items: center;
    @include medium {
        display: block;
    }
    span {
        font-size: 15px;
        font-weight: 300;
        color: #7d7d7d;
        @include medium {
            font-size: 14px;
            display: block;
            margin-bottom: 18px;
        }
    }
}
.social {
    display: flex;

}
.social-list {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0 0 0 29px;
    @include large {
        margin: 0 0 0 19px;
    }
    @include medium {
        margin: 0;
    }
}
.social {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4E6EE;
    border-radius: 50%;
    .icon {
        font-size: 30px;
        opacity: 0.8;
        transition: 0.3s;
        &--copy {
            font-size: 15px;
            fill: #959595;
            opacity: 1;
            &:hover {
                fill: #E77561;
            }
        }
    }
    &--link {
        &:hover {
            .copy-link {
                fill: #E77561;
            } 
        }
        
    }

    &:hover {
        .icon {
            opacity: 1;
        }
    }
}
.social-item {
    margin-right: 8px;
    margin-bottom: 10px;
}
.team-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include small {
        flex-direction: column-reverse;
    }
}
.swiper-btn {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    @include medium {
        margin-top: 10px;
    }
    @include small {
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 32px;
    }
    .swiper-button-next, .swiper-button-prev {
        position: static;
        width: 60px;
        height: 60px;
        margin: 0;
        margin-left: 10px;
        @include small {
            width: 46px;
            height: 46px;
        }
        .icon {
            width: 100%;
            height: 100%;
            flex: 0 0 auto;
            
        }

        &:after {
            display: none;
        }
        &:focus {
            outline: 0;
        }
        .icon {
            fill: #353535;
        } 
        &.swiper-button-disabled {
            opacity: 1;
            .icon {
                fill: #959595;
            }
        }
        
    }
    .swiper-button-next {
        transform: rotate(180deg);
    }


}
