mixin team
    section.team-block#team-block
        .container-fluid
            h5.h-title Бригада: Всего 15 человек, на сайте
                span.count 12
            .team-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .team 
                            .team__avatar
                                img(alt="" src="" data-src="images/image1.jpg" class="lazyload") 
                            .team__name Михаил Тойхерт
                            .team__position Директор
                            .team__desc Стаж: 
                                strong 7 лет
                    .swiper-slide
                        .team 
                            .team__avatar
                                img(alt="" src="" data-src="images/image1.jpg" class="lazyload") 
                            .team__name Михаил Тойхерт
                            .team__position Директор
                            .team__desc Стаж: 
                                strong 7 лет
                    .swiper-slide
                        .team 
                            .team__avatar
                                img(alt="" src="" data-src="images/image1.jpg" class="lazyload") 
                            .team__name Михаил Тойхерт
                            .team__position Директор
                            .team__desc Стаж: 
                                strong 7 лет
                    .swiper-slide
                        .team 
                            .team__avatar
                                img(alt="" src="" data-src="images/image1.jpg" class="lazyload") 
                            .team__name Михаил Тойхерт
                            .team__position Директор
                            .team__desc Стаж: 
                                strong 7 лет
                    .swiper-slide
                        .team 
                            .team__avatar
                                img(alt="" src="" data-src="images/image1.jpg" class="lazyload") 
                            .team__name Михаил Тойхерт
                            .team__position Директор
                            .team__desc Стаж: 
                                strong 7 лет
                    .swiper-slide
                        .team 
                            .team__avatar
                                img(alt="" src="" data-src="images/image1.jpg" class="lazyload") 
                            .team__name Михаил Тойхерт
                            .team__position Директор
                            .team__desc Стаж: 
                                strong 7 лет
            .team-bottom
                .socials
                    span Компания &laquo;Строительный Квадрат&raquo; в&nbsp;соц.сетях:
                    ul.social-list
                        li.social-item
                            a(href="" aria-label="Копировать ссылку").social.social--link.js-copylink
                                svg.icon.icon--copy
                                    use(xlink:href="#icon-copy")
                        li.social-item
                            a(href="" aria-label="Facebook").social
                                svg.icon
                                    use(xlink:href="#icon-fb")  
                        li.social-item
                            a(href="" aria-label="Вконтакте").social
                                svg.icon
                                    use(xlink:href="#icon-vk")  
                        li.social-item
                            a(href="" aria-label="Twitter").social
                                svg.icon
                                    use(xlink:href="#icon-tw")  
                        li.social-item
                            a(href="" aria-label="Одноклассники").social
                                svg.icon
                                    use(xlink:href="#icon-ok")
                        li.social-item
                            a(href="" aria-label="Телеграмм").social
                                svg.icon
                                    use(xlink:href="#icon-tg")
                .swiper-btn
                    .swiper-button-prev
                        svg.icon
                            use(xlink:href="#icon-arrow_work")
                    .swiper-button-next
                        svg.icon
                            use(xlink:href="#icon-arrow_work")