.search {
    margin-right: 20px;
    position: relative;
    .icon {
        cursor: pointer;
    }    
    .search-form {
        right: 0;
        position: absolute;

        background-color: rgb(255, 255, 255);
        width: 1px;
        visibility: hidden;
        opacity: 0;
        
        height: 48px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        border-width: 1px;
        border-color: rgb(228, 230, 238);
        border-style: solid;
        transition: 0.3s;
        @include small {
            left: -150px;
            right: auto;
            z-index: 14;
            top: -4px;
        }
        &--active {
            width: 288px;
            visibility: visible;
            opacity: 1;
        }
        &__input {
            border: 0;
            width: 100%;
            padding-left: 25px;
            padding-right: 50px;
            background-color: transparent;
            &:focus {
                outline: 0;
            }
        }
        &__button {
            width: 48px;
            top: -1px;
            height: 48px;
            background-color: #ffd457;
            border-radius: 50px;
            border: 0;
            position: absolute;
            right: 0;
            &:focus {
                outline: 0;
            }
        }
    }
}
.menu-modal {
    position: fixed;
    max-width: 570px;
    width: 100%;
    height: 100vh;

    background-color: #ffffff;
    z-index: 150;
    top: 0;
    right: 0;
    
    transition: 0.3s;
    transform: translateX(100%);
    &__header {
        border-bottom: 1px solid #e4e6ee;
    }
    &__body {
        overflow-y: auto;
        height: 100%;
        padding: 0 30px 0;
        display: flex;
        flex-direction: column;
        @include small {
            padding-bottom: 90px;
        }
    }
    &__container {
        padding: 40px 0;
        flex: 1 0 auto;
    }
    &__footer {
        flex: 0 1 auto;
    }
    &__menu {
        padding: 0;
        list-style: none;
    }
    &__item {
        margin-bottom: 30px;
    }
    &__link {
        color: #212122;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            text-decoration: underline;
            color: #e77561;
        }
    }
}
.menu-close {
    cursor: pointer;
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    margin-left: -12px;
    svg {
        fill: #959595;
        font-size: 35px;
    }
    span {
        font-size: 13px;
        color: #959595;;
    }
}
.menu-modal__email {
    position: relative;
    text-decoration: none;
    color: #212122;

    &:before {
        content: '';
        font-family: 'ElegantIcons';
        color: #e77561;
        margin-right: 15px;
    }
}
.active-menu {
    overflow: hidden;
    .menu-modal {
        transform: translateX(0);  
    }
}