mixin header__right                
    .header__right
        .navbar-favorits
            .search
                form(action="").search-form
                    input(type="text" placeholder="Поиск").search-form__input
                    button.search-form__button
                        svg.icon.icon-loop
                            use(xlink:href="#icon-loop")
                .icons.js-open-search 
                    svg.icon.icon-loop
                        use(xlink:href="#icon-loop")
            a(href="" aria-label="Избранное").icons.favorites
                svg.icon.icon-favorites
                    use(xlink:href="#header_favorites")
                .favorites-count 8
        .menu
            span Меню
            .menu__icon.js-open-menu
                span
                span
                span