.filter-form {
    margin-bottom: 30px;
    @include large {
        margin-bottom: 24px;
    }
    @include medium {
        margin-bottom: 46px;
    }
    @include small {
        max-width: 375px;
        margin: 0 auto 46px;
    }
    .select {
        @include large {
            max-width: none;
        }
        @include medium {
            margin-bottom: 18px;
        }
        @include small {
            margin-bottom: 15px;
        }
    }
    .jq-selectbox__select {
        border: 0;
    }
    .jq-selectbox__trigger:after {
        @include medium {
            right: 15px;
        }
    }

    .btn {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}