.articles__content {
    padding: 37px 59px 45px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 15px;
    @include medium {
        padding: 34px 31px 45px;
    }
    @include small {
        padding: 28px 15px 45px;
    }
    .breadcrumbs {
        margin-bottom: 55px;
    }
    h1 {
        line-height: 1.4;
        margin-bottom: 14px;
        @include small {
            line-height: 1.47;
            margin-bottom: 10px;
        }
    }
}
.art__date {
    font-size: 14px;
    color: #7d7d7d;
    margin-bottom: 27px;
    @include small {
        font-size: 13px;
        font-weight: 300;
    }
}
.art-body {
    font-size: 17px;
    @include small {
        line-height: 1.5;
        font-size: 16px;
    }
    .title {
        color: #000000;
        font-size: 26px;
        margin-bottom: 13px;
        @include medium {
            font-size: 22px;
        }
        @include small {
            font-size: 20px;
            margin-bottom: 18px;
        }
    }
    p {
        margin-bottom: 25px;

    }
}

.art-body-lsit {
    list-style: none;
    padding: 0;
    margin-bottom: 57px;
    li {
        position: relative;
        padding-left: 32px;
        margin-bottom: 18px;
        &:before {
            content: "N";
            font-family: 'ElegantIcons';
            color: #f8d360;
            position: absolute;
            top: -2px;
            left: 0;
            font-size: 22px;
        }
    }
}
.art-img {
    overflow: hidden;
    border-radius: 15px;
    max-height: 420px;
    margin-bottom: 56px;
    @include medium {
        max-height: 338px;
        margin-bottom: 35px;
    }
    @include small {
        max-height: none;
        margin-bottom: 30px;
    }
    img {
        max-width: 100%;
    }
}
.share-articles  {
    display: flex;
    align-items: center;
    @include small {
        flex-wrap: wrap;
    }
    span {
        font-size: 15px;
        color: #7d7d7d;
        margin-right: 29px;
        
    }
    .social-item {
        margin-bottom: 0;
   
    }
    .social-list {
        margin: 0;
        @include small {
            margin-top: 15px;
        }
    }
}
.icon-share {
    border-radius: 4px;
    background-color: rgb(228, 230, 238);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    svg {
        font-size: 30px;
        fill: #969696;
    }
}
.hastag-list {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    strong {
        font-size: 18px;
        color: #959595;
    }
}
.hastag {
    background-color: rgb(255, 255, 255);
    min-width: 104px;
    height: 44px;
    display: flex;
    align-items: center;
    line-height: 1;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    padding: 0 29px;
    border-radius: 50px;
    margin-left: 19px;
    color: #212122;
    text-decoration: none;
}
.right-aricles {
    .title {
        font-size: 26px;
        margin-bottom: 35px;
        @include medium {
            font-size: 22px;
        }
        @include small {
            font-size: 20px;
        }
    }
    .object:last-child {
        margin-bottom: 17px;
    }    
    
    .company-object .object__images {
        @include small {
            height: 214px;
        }
    }
    .object__images {
        width: 100%;
        .swiper-container {
            height: 240px;
            @include small {
                height: 214px;
            }
        }
    }
}
.articles-main {
    @include large {
        margin: 0 40px 97px;
    }
    @include medium {
        margin: 0 0 64px;
    }
    @include small {
        margin: 0 0 55px;
    }
}
.prev-articles {
    font-size: 14px;
    color: #212122;
    font-weight: 500;
    display: block;
    margin-bottom: 32px;
}