include ../../components/breadcrumbs/breadcrumbs
include ../recomendation_articles/recomendation_articles


mixin articles__content                    
    .articles__content
        +breadcrumbs()
            +breadcrumbs-item('Главная' , 'index.html')
            +breadcrumbs-item('Блог' , 'blog.html')
            +breadcrumbs-item('8 советов по выбору металлочерепицы для кровли')
        .d-md-none
            a(href="").prev-articles Вернуться назад
        .tag-list
            .tag Обзор
        h1 8&nbsp;СОВЕТОВ ПО&nbsp;ВЫБОРУ МЕТАЛЛОЧЕРЕПИЦЫ ДЛЯ КРОВЛИ
        .art__date 24 марта 2020
        .art-body
            .art-img
                img(data-src="images/articles-1.jpg", alt="").lazyload
            p Каждый владелец деревянного дома ищет «ту самую», «вечную» краску, чтобы один раз покрасить и забыть. Это и обуславливает слепое доверие к продавцам, которые заявляют долгие сроки гарантии на свои краски. В итоге заказчик не получает желаемого для себя качества: обещали срок службы в 10 лет, а краска сходит уже через год.
            p Зачастую производители краски заявляют немалые гарантийные сроки на свою продукцию — 5, 10 и даже 15 лет. Но что же означает эта гарантия на самом деле?
            p Необходимо разделять два понятия: срок годности краски и срок службы покрытия на фасаде. Производитель по закону обязан официально указывать на банке срок годности (срок использования) краски. А каким окажется срок службы покрытия на вашем доме, он может только предполагать.
            +recomendation_articles
            .title Магия «волшебной краски»
            p Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют от нас анализа систем массового участия.
            p Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений:
            ul.art-body-lsit 
                li из бруса или бревна построен дом;
                li правильнопредстоит окрасить новый или реставрировать старый дом;
                li какова влажность материала дома;
            .share-articles 
                .icon-share
                    svg.icon
                        use(xlink:href="#icon-share")
                span Поделиться статьей:
                ul.social-list
                    li.social-item
                        a(href="" aria-label="Копировать ссылку").social.social--link.js-copylink
                            svg.icon.icon--copy
                                use(xlink:href="#icon-copy")
                    li.social-item
                        a(href="" aria-label="Facebook").social
                            svg.icon
                                use(xlink:href="#icon-fb")  
                    li.social-item
                        a(href="" aria-label="Вконтакте").social
                            svg.icon
                                use(xlink:href="#icon-vk")  
                    li.social-item
                        a(href="" aria-label="Twitter").social
                            svg.icon
                                use(xlink:href="#icon-tw")  
                    li.social-item
                        a(href="" aria-label="Одноклассники").social
                            svg.icon
                                use(xlink:href="#icon-ok")
                    li.social-item
                        a(href="" aria-label="Телеграмм").social
                            svg.icon
                                use(xlink:href="#icon-tg")