mixin articles-blog
    .articles-blog
        .row
            .col-lg-4.col-sm-6
                .articles
                    a(href="").articles__img
                        img(data-src="images/articles-1.jpg", alt="").lazyload
                    .articles-body
                        .tag-list
                            .tag Новости
                        a(href="").articles__title 8 советов по выбору металлочерепицы для кровли
                        p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                    .articles-footer
                        .articles__date 24 марта 2020
                        .count-share 
                            svg.icon
                                use(xlink:href="#icon-share")
                            span 146
            .col-lg-4.col-sm-6
                .articles 
                    a(href="").articles__img
                        img(data-src="images/articles-1.jpg", alt="").lazyload
                    .articles-body
                        .tag-list
                            .tag Обзор
                        a(href="").articles__title Фундамент для тяжёлого забора из бетона или кирпича
                        p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                    .articles-footer
                        .articles__date 24 марта 2020
                        .count-share 
                            svg.icon
                                use(xlink:href="#icon-share")
                            span 146
            .col-lg-4.col-sm-6
                .articles
                    a(href="").articles__img
                        img(data-src="images/articles-1.jpg", alt="").lazyload
                    .articles-body
                        .tag-list
                            .tag Новости
                        a(href="").articles__title 8 советов по выбору металлочерепицы для кровли
                        p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                    .articles-footer
                        .articles__date 24 марта 2020
                        .count-share 
                            svg.icon
                                use(xlink:href="#icon-share")
                            span 146
            .col-lg-4.col-sm-6
                .articles
                    a(href="").articles__img
                        img(data-src="images/articles-1.jpg", alt="").lazyload
                    .articles-body
                        .tag-list
                            .tag Обзор
                        a(href="").articles__title Фундамент для тяжёлого забора из бетона или кирпича
                        p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                    .articles-footer
                        .articles__date 24 марта 2020
                        .count-share 
                            svg.icon
                                use(xlink:href="#icon-share")
                            span 146
            .col-lg-4.col-sm-6
                .articles
                    a(href="").articles__img
                        img(data-src="images/articles-1.jpg", alt="").lazyload
                    .articles-body
                        .tag-list
                            .tag Новости
                        a(href="").articles__title 8 советов по выбору металлочерепицы для кровли
                        p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                    .articles-footer
                        .articles__date 24 марта 2020
                        .count-share 
                            svg.icon
                                use(xlink:href="#icon-share")
                            span 146
            .col-lg-4.col-sm-6
                .articles
                    a(href="").articles__img
                        img(data-src="images/articles-1.jpg", alt="").lazyload
                    .articles-body
                        .tag-list
                            .tag Обзор
                        a(href="").articles__title Фундамент для тяжёлого забора из бетона или кирпича
                        p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                    .articles-footer
                        .articles__date 24 марта 2020
                        .count-share 
                            svg.icon
                                use(xlink:href="#icon-share")
                            span 146
        .pagintaion 
            a(href="").pagintaion__link.pagintaion__link--disabled.pagintaion__link--prev &#x23;
            a(href="").pagintaion__link.pagintaion__link--active 1
            a(href="").pagintaion__link 2
            a(href="").pagintaion__link 3
            span . . . 
            a(href="").pagintaion__link 126
            a(href="").pagintaion__link.pagintaion__link--next &#x24;