.articles-blog {
    padding-bottom: 100px;
}
.articles {
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    color: #212122;
    display: block;
    transition: 0.3s;
    background-color: #ffffff;
    margin-bottom: 32px;
    &:hover {
        img {
            transform: scale(1.05);
        }
    }
    &__img {
        max-width: 100%;
        height: 260px;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        @include large {
            height: 177px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
            object-position: center;
        }
    }
    &__title {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
        text-decoration: none;
        color: #212122;
        display: block;
        transition: 0.3s;
        &:hover {
            color: #e77561;
        }
        
    }
    &__date {
        font-size: 11px;
        color: #7d7d7d;
    }
    p {
        margin-bottom: 0;
        @include small {
            font-size: 14px;
        }
    }
}
.articles-body {
    padding: 10px 30px 16px;
    @include small {
        padding: 10px 15px 16px;

    }
}
.articles-footer {
    margin: 0 30px;
    border-top: 1px solid #e4e6ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 20px;
    @include small {
        margin: 0 15px;
    }
}
.count-share  {
    display: flex;
    align-items: center;
    background-color: #e4e6ee;
    border-radius: 4px;
    font-size: 11px;
    padding: 0 8px 0 0;
    .icon {
        fill: #959595;
        font-size: 20px;
        margin-right: 3px;
    }
}
