mixin sorting
    .sorting
        .row
            .col-md-7.col-xl-8
                .filter
                    a(href="").filter-item.filter-item--active Все
                    a(href="").filter-item Компании
                    a(href="").filter-item Мастера
            .col-md-5.col-xl-4
                .sort
                    span Сортировать:
                    label.select.select--sorting(for="district-1")
                        select(name="district-1" id="district-1").select__select
                            option(value="По релевантности" data-icon="type-relevance" selected) По релевантности
                            option(value="По рейтингу" data-icon="type-rating") По рейтингу
                            option(value="Сначала дешевле" data-icon="type-pricesmall") Сначала дешевле
                            option(value="Сначала дороже" data-icon="type-pricelarge") Сначала дороже