.sorting {
    margin-bottom: 28px;
    @include small {
        margin-bottom: 35px;
    }
}
.filter {
    display: flex;
    flex-wrap: wrap;
    @include medium {
        flex-wrap: nowrap;
        padding: 0 15px 15px;
        margin: 0 -15px 10px;
        width: calc(100% + 30px);
        overflow-x: auto;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #212122;
        border: 1px solid #e4e6ee;
        background-color: transparent;
        padding: 0.75rem 0.5rem;
        min-width: 120px;
        border-radius: 25px;
        text-decoration: none;
        margin-right: 15px;
        transition:  all 0.3s;
        @include small {
            padding: .85rem .5rem;
            min-width: 105px;
            margin-right: 12px;
        }
        &--active ,
        &:hover {
            border-color: #f8d360;
            background-color: #f8d360;
        }
    }
}
.sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include small {
        justify-content: flex-start;
    }
    span {
        margin-right: 20px;
        @include small {
            font-size: 14px;
            margin-right: 14px;
        }
    }
    .select {
        margin-bottom: 0;
    }
    .select__select {
        @include small {
            height: 48px;
            border-radius: 5px;
            font-weight: 500;
            font-size: 16px;
            padding-right: 35px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.select--sorting {
    max-width: 208px;
    margin-bottom: 0;
    @include large {
        margin-bottom: 0;
    }
    @include medium {
        max-width: 208px;

    }
    @include small {
        max-width: 208px;
    }
    &:before {
        @include small {
            background-image: url(../images/svg/icon-arrow_up--red.svg);
            right: 20px;
            top: 52%;
            background-size: 12px;
        }
    }

    .jq-selectbox__select-text {
        font-weight: 500;
        color: #212122;
        padding: 12px 0;
        font-size: 15px;
    }
    .jq-selectbox__select {
        padding-left: 21px;
        height: 48px;
        border-radius: 5px;
        background-color: transparent;
        @include medium {
            padding-left: 15px;
            width: 207px;
        }
    }
    .jq-selectbox__trigger:after {
        background-image: url(../images/svg/icon-arrow_up--red.svg);
        width: 14px;
        height: 7px;
        @include medium {
            right: 15px;
        }
    }
    .jq-selectbox li:first-child {
        display: block;
    }

}
.blurb {
    border-radius: 15px;
    background-color: rgba(228, 230, 238, 0.5);
    height: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    span {
        font-size: 24px;
        font-family: 'Philosopher', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #898a90;
    }
}

.jq-selectbox__dropdown {
    li {
        position: relative;
    }
    
}
.type-relevance {
    padding-left: 5px;
    &::before {
        content: '';
        background-image: url(../images/price-icon.png);
        width: 13px;
        height: 12px;
        position: absolute;
        left: 21px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
    }
}
.type-pricesmall {
    padding-left: 5px;
    &::before {
        content: '';
        background-image: url(../images/price-icon.png);
        width: 13px;
        height: 12px;
        position: absolute;
        left: 21px;
        top: 50%;
        transform: translateY(-50%) scale(1, -1);
    }

}
.type-pricelarge {
    padding-left: 5px;

    &::before {
        content: '';
        background-image: url(../images/price-icon.png);
        width: 13px;
        height: 12px;
        position: absolute;
        left: 21px;
        top: 50%;
        transform: translateY(-50%) ;
    }
 
}
.type-rating {
    padding-left: 5px;
    &::before {
        content: '';
        background-image: url(../images/icon-star.png);
        width: 13px;
        height: 13px;
        position: absolute;
        left: 21px;
        top: 50%;
        transform: translateY(-50%) ;
    }
       
}
.select--sorting {
    .bootstrap-select .dropdown-menu li {
        &:hover {
            span::before {
                background-position: -13px 0;
            } 
        }
    }
    .filter-option {
        padding-left: 10px;
    }
    .filter-option-inner-inner {
        padding-right: 0;
    }
}