.breadcrumbs {
    display: flex;
    margin-bottom: 35px;
    flex-wrap: wrap;
    @include large {
        margin-bottom: 45px;
    } 
    @include small {
        display: none;
    }
    &__item {
        margin-right: 35px;
        &:last-child {
            padding-right: 0;
            .breadcrumbs__link {
                &:after {
                    display: none;
                }
            }

        }
        span {
            font-size: 12px;
            color: #212122;
            font-weight: 300;
             
        }
    }
    &__link {
        color: #7d7d7d;
        font-weight: 300;
        font-size: 12px;
        text-decoration: none;
        transition: 0.3s;
        position: relative;
        &:hover {
            color: #212122;
            text-decoration: underline;
            &::after {
                text-decoration: none;
            }
            
        }
        &:after {
            right: -23px;
            font-size: 18px;
            position: absolute;
            top: -2px;
            text-decoration: none;
        }        

    }
}