.services-block {
    background-color: #ffffff;
    padding: 100px 0 79px;
    @include medium {
        padding: 82px 0 79px;
    }
    @include small {
        padding: 62px 0 79px;
    }
}
.services-ls {
    margin-bottom: 20px;
    & > div:not(:nth-child(-n+3)) {
        display: none;
    }   
    &.show-services {
        & > div {
            display: block;
        }

    }
}
.services {
    background-color: #fffcf2;
    border-radius: 15px;
    padding: 33px 0;
    margin-bottom: 23px;
    overflow: hidden;
    position: relative;
    @include medium {
        padding: 23px 0;
    }
    @include small {
        padding: 23px 0 77px;
    }
    &:after {
        @include small {
            content: '';
            width: 100%;
            height: 139px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, #fffcf2 0%, rgba(255,255,255,0.04805672268907568) 100%);  
        }
        
    }
    &--bg--green {
        background-color: #f4fbf2;
        &:after {
            @include small {
               
                background: linear-gradient(0deg, #f4fbf2 0%, rgba(255,255,255,0.04805672268907568) 100%);  
            }
            
        }        
    }
    &--bg--purple {
        background-color: #f2f4fa;
        &:after {
            @include small {
               
                background: linear-gradient(0deg, #f2f4fa 0%, rgba(255,255,255,0.04805672268907568) 100%);  
            }
            
        }         
    }
    &__name {
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 15px;
        padding-left: 29px;
        @include medium {
            font-size: 15px;
        }
        @include small {
            padding-left: 20px;
        }
    }
    &__item {
        margin-bottom: 11px;
    }
    &__link {
        color: #212122;
        text-decoration: none;
        @include medium {
            font-size: 13px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &-list {
        display: inline-block;
        list-style: none;
        max-width: 49%;
        width: 100%;
        padding-left: 29px;
        margin-bottom: 0;
        @include small {
            padding-left: 20px;
            display: block;
            max-width: none;
        }
    }
    &.opened {
        padding: 23px 0;
        &:after {
            display: none;
        }
        .services-list {
            height: auto !important;
        }
    }
}
.heading-text {
    padding-top: 94px;
    line-height: 1.6;
    @include medium {
        padding-top: 73px;
    }
    p {
        margin-bottom: 27px;
    }
}
.services-lists  {
    transition: 0.3s;
    @include small {
        .services-list {
            display: none;
            &:first-child {
                display: block;
            }
            &:nth-child(2) {
                height: 35px;
                overflow: hidden;
                display: block;
            }
        }
    }
}
.services-arrow {
    display: none;
    @include small {
        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 10px 0px rgba(33, 33, 34, 0.03);
        display: flex;
        z-index: 5;
        align-items: center;
        justify-content: center;
        font-size: 26px;
    }
}
