mixin services
    .services-block
        .container-fluid
            .services-ls.row
                .col-xl-4.col-md-6
                    .services
                        .services__name Строительство домов
                        .services-lists                            
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Деревянные дома
                                li.services__item
                                    a(href="").services__link Кирпичные дома
                                li.services__item
                                    a(href="").services__link Дома из бруса
                                li.services__item
                                    a(href="").services__link Каркасные дома
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Каркасные дома
                                li.services__item
                                    a(href="").services__link Дома тз бруса
                                li.services__item
                                    a(href="").services__link Деревянные дома
                                li.services__item
                                    a(href="").services__link Кирпичные дома
                        .services-arrow(data-icon="3")
                .col-xl-4.col-md-6
                    .services.services--bg--green
                        .services__name Подряды
                        .services-lists
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Кровельные работы
                                li.services__item
                                    a(href="").services__link Фундамент
                                li.services__item
                                    a(href="").services__link Кирпичная кладка
                                li.services__item
                                    a(href="").services__link Внутренняя отделка
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Внутренняя отделка
                                li.services__item
                                    a(href="").services__link Кирпичная кладка
                                li.services__item
                                    a(href="").services__link Фундамент
                                li.services__item
                                    a(href="").services__link Кровельные работы
                        .services-arrow(data-icon="3")

                .col-xl-4.col-md-6
                    .services.services--bg--purple
                        .services__name Обустройство
                        .services-lists
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Заборы
                                li.services__item
                                    a(href="").services__link Ворота
                                li.services__item
                                    a(href="").services__link Дороги
                                li.services__item
                                    a(href="").services__link Отопление
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Отопление
                                li.services__item
                                    a(href="").services__link Дороги
                                li.services__item
                                    a(href="").services__link Ворота
                                li.services__item
                                    a(href="").services__link Заборы
                        .services-arrow(data-icon="3")
                .col-xl-4.col-md-6
                    .services
                        .services__name Строительство домов
                        .services-lists                            
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Деревянные дома
                                li.services__item
                                    a(href="").services__link Кирпичные дома
                                li.services__item
                                    a(href="").services__link Дома из бруса
                                li.services__item
                                    a(href="").services__link Каркасные дома
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Каркасные дома
                                li.services__item
                                    a(href="").services__link Дома тз бруса
                                li.services__item
                                    a(href="").services__link Деревянные дома
                                li.services__item
                                    a(href="").services__link Кирпичные дома
                        .services-arrow(data-icon="3")                                        
                .col-xl-4.col-md-6
                    .services.services--bg--green
                        .services__name Подряды
                        .services-lists                            
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Кровельные работы
                                li.services__item
                                    a(href="").services__link Фундамент
                                li.services__item
                                    a(href="").services__link Кирпичная кладка
                                li.services__item
                                    a(href="").services__link Внутренняя отделка
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Внутренняя отделка
                                li.services__item
                                    a(href="").services__link Кирпичная кладка
                                li.services__item
                                    a(href="").services__link Фундамент
                                li.services__item
                                    a(href="").services__link Кровельные работы
                        .services-arrow(data-icon="3")

                .col-xl-4.col-md-6
                    .services.services--bg--purple
                        .services__name Обустройство
                        .services-lists
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Заборы
                                li.services__item
                                    a(href="").services__link Ворота
                                li.services__item
                                    a(href="").services__link Дороги
                                li.services__item
                                    a(href="").services__link Отопление
                            ul.services-list
                                li.services__item
                                    a(href="").services__link Отопление
                                li.services__item
                                    a(href="").services__link Дороги
                                li.services__item
                                    a(href="").services__link Ворота
                                li.services__item
                                    a(href="").services__link Заборы
                        .services-arrow(data-icon="3")                        
                        
            a(href="").show-all.js-services-show-all
                span(data-icon="3") Показать еще
            .heading-text
                .row    
                    .col-xl-8
                        h6 Heading
                        p Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют от нас анализа систем массового участия.
                        p Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.