mixin partners
    section.partners-block
        .container-fluid
            h5.title.title--black.title--small Строители, которым доверяют наши клиенты
            .partners-list.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_01.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_06.png", alt="").lazyload 
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_02.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_05.png", alt="").lazyload 
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_03.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_04.png", alt="").lazyload 
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_04.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_03.png", alt="").lazyload 
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_05.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_02.png", alt="").lazyload
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_06.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_01.png", alt="").lazyload
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_01.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_06.png", alt="").lazyload 
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_02.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_05.png", alt="").lazyload 
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_03.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_04.png", alt="").lazyload 
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_04.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_03.png", alt="").lazyload 
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_05.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_02.png", alt="").lazyload
                    .swiper-slide
                        .partners-item
                            img(data-src="images/partners/l_06.png", alt="").lazyload
                        .partners-item
                            img(data-src="images/partners/l_01.png", alt="").lazyload                            
            .company-list-bottom
                .swiper-btn
                    .swiper-button-prev.js-btns
                        svg.icon
                            use(xlink:href="#icon-arrow_work")
                    .swiper-button-next.js-btns
                        svg.icon
                            use(xlink:href="#icon-arrow_work")