.partners-block {
    padding: 100px 0;  
    @include small {
        padding: 50px 0;
    }
    .title {
        margin-bottom: 35px;
    }
    .company-list-bottom {
        justify-content: flex-end;
    }
    .swiper-btn {
        position: static;
    }
    .swiper-container {
        margin-bottom: 10px;
    }
}
.partners-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 40px;
    img {
        max-width: 100%;
    }
}