mixin about-project
    section.about-project
        .container-fluid
            h5.title.title--black.title--small О проекте
            .row
                .col-xl-9
                    p На&nbsp;сайте name.ru собраны проверенные подрядчики по&nbsp;строительству и&nbsp;отделке домов, обустройству участков. Каждая компания проходит проверку на&nbsp;юридическую чистоту и&nbsp;выполненные заказы. Мы&nbsp;связываемся с&nbsp;клиентами и&nbsp;узнаем их&nbsp;мнение по&nbsp;качеству работ, точности сметы и&nbsp;выполнению сроков. Вы&nbsp;можете выбрать любую компанию, которая вам понравилась и&nbsp;заказать необходимые работы. Обратите внимание на&nbsp;выполненные работы компании и&nbsp;возможность выезда на&nbsp;объект, чтобы посмотреть вживую. Не&nbsp;маловажным фактором являются отзывы о&nbsp;компании и&nbsp;юридическая информация.
            .row.about-list
                .col-md-6.col-xl-3.order-xl-1
                    .about-item
                        .about-item__icon
                            svg.icon
                                use(xlink:href="#icon-about_01") 
                        .about-item__number 01   
                        p Выбираете одного или нескольких подрядчиков
                .col-md-6.col-xl-3.order-xl-2
                    .about-item
                        .about-item__icon
                            svg.icon
                                use(xlink:href="#icon-about_02") 
                        .about-item__number 02  
                        p Создаете задание для выбранных исполнителей 
                .col-md-6.col-xl-3.order-md-last.order-xl-3
                    .about-item
                        .about-item__icon
                            svg.icon
                                use(xlink:href="#icon-about_03") 
                        .about-item__number 03  
                        p Рассматриваете предложения и выбираете исполнителя 
                .col-md-6.col-xl-3.order-xl-4
                    .about-item
                        .about-item__icon
                            svg.icon
                                use(xlink:href="#icon-about_04") 
                        .about-item__number 04
                        p Строители выполняют работу, а вы принимете заказ 
