.about-project {
    padding: 92px 0;
    background-color: #ffffff;
    line-height: 1.66;
    @include small {
        padding: 50px 0;
    }
    .title {
        margin-bottom: 31px;
    }
}
.about-list {
    margin-top: 28px;
    & > div:last-child {
        .about-item {
            &::after {
                display: none;
            }
        }
    }
    & > div:nth-child(2) {
        .about-item {
            @include large {
                &::after {
                    top: auto;
                    bottom: -28px;
                    transform: translateY(0) translateX(-50%) rotate(90deg);
                    left: 50%;
                    right: auto;
                }
            }
        }
    }
    & > div:nth-child(3) {
        .about-item {
            @include large {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                    left: -28px;
                    right: auto;
                }
            }
            @include small {
                &::after {
                    top: auto;
                    bottom: -28px;
                    transform: translateY(0) translateX(-50%) rotate(90deg);
                    left: 50%;
                    right: auto;
                }
            }
            
        }
    }
}

.about-item {
    border-width: 10px;
    border-color: rgb(242, 244, 250);
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 40px 30px 13px;
    position: relative;
    font-size: 16px;
    min-height: 270px;
    p {
        margin-bottom: 0;
    }
    @include large {
        display: flex;
        align-items: center;
        padding: 40px 30px;
        min-height: auto;
        margin-bottom: 24px;
        p {
            margin-bottom: 0;
        }
    }
    @include small {
        flex-direction: column;
        padding: 30px 25px;
        align-items: flex-start;
        font-size: 14px;
    }
    &::after {
        content: '5';
        font-family: 'ElegantIcons';
        position: absolute;
        right: -28px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 55px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 7px 21px 0px rgba(242, 244, 250, 1);        
        color: #e77561;
        font-size: 30px; 
        @include small {
            top: auto;
            bottom: -28px;
            transform: translateY(0) translateX(-50%) rotate(90deg);
            left: 50%;
            right: auto;
        }
         
    }
    &__number {
        position: absolute;
        font-size: 36px;
        color: #e0e3ed;
        font-family: 'Philosopher', sans-serif;
        top: 13px;
        right: 29px;
        @include large {
            top: 3px;
            right: 15px;
        }
    }
    &__icon {
        margin-bottom: 20px;
        @include large {
            margin-bottom: 0;
            margin-right: 20px;
        }
        @include small {
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
    .icon {
        font-size: 58px;
        @include large {
            font-size: 50px;
        }
        @include small {
            font-size: 40px;
        }
    }
}