.index-screen {
    
    background-image: url(../images/index-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 50px ;
    border-radius: 15px;
    background-size: cover;
    .container-fluid {
        padding: 0;
        @include small {
            max-width: 425px;
        }
    }
    @include large {
        padding: 80px 20px;
    }
    @include medium {
        padding: 50px 40px;
    }
    @include small {

        padding: 38px 0;
        background-image: none;
    }
    .title  {
        margin-bottom: 33px;
    }
    .desc {
        max-width: 650px;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        @include large {
            font-size: 17px;
        }
        @include medium {
            font-size: 16px;
        }
    }
}
.index-screen-block {
    background-color: #ffffff;
    padding-bottom: 80px;
    @include large {
        padding-bottom: 64px;
    }
    @include small {
        background-image: url(../images/index-img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 0;
    }
}
.index-screen-filter  {
    background-color: #e4e6ee;
    padding: 30px 30px 12px;
    border-radius: 15px;
    margin-bottom: 38px;
    @include large {
        padding: 19px 15px 0px;
        margin-bottom: 26px;
    }
    @include small {
        background-color: transparent;
        padding: 0;
    }
    .filter-form {
        margin-bottom: 0;
        @include small {
            max-width: 100%; 
            margin: 0 auto;
        }
    }
}
.select2-container {
    width: 100%;
}
.select2-container {
    height: 60px;
}
.select2-container--default .select2-selection--single {
    height: 60px;
    border-radius: 10px;
    border: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 60px;
    padding-left: 25px;
    padding-right: 95px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}
.select2-dropdown {
    border: 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
.select2-results__option {
    font-weight: 300;
    padding: 15px;
    border-bottom: 0;
    font-size: 14px;
    &:hover {
        color: #fff !important;
        background-color: #e77561 !important;
    }
    &[aria-selected=true]  {
        color: #fff !important;
        background-color: #e77561 !important;      
    }
    &--highlighted[aria-selected] {
        color: #fff !important;
        background-color: #e77561 !important;
    }
    
}
.select2-container--focus {  
    
}
.select2 {
    * {
        outline: 0;
    }
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    &:focus {
        outline: 0;
    }
}
.form-cont {
    position: relative;
    .open-modal {
        position: absolute;
        right: 0;
        z-index: 100;
        color: #212122;
        padding: 11px 19px;
        margin: 6px 0;
        border-left: 1px solid #e4e6ee;
        background-color: #ffffff;
        border-radius: 0 25px 25px 0;
        &:hover {
            color: #e77561;
        }
        @include small {
            display: none;
        }
    }
}
.select2-container--open .select2-dropdown {
    box-shadow: 0px 5px 10px 0px rgba(33, 33, 34, 0.2);
}

.select2-container .select2-selection--multiple {
    display: flex;
    align-items: center;
    
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 25px;
    padding-right: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    align-items: center;
    & > li {
        display: inline-block;
        vertical-align: middle;
    }
    .select2-selection__choice {
        background-color: transparent;
        border-color: 0;
        border: 0;
        margin-top: 0;
        display: inline-block;
        padding: 0;
        float: none;
        &:not(:nth-last-of-type(2)) {
            &::after {
                content: ', ';
            }
        }
        span {
            display: none;
        }
    }
}
.selection {
    width: 9000px;
}
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline {
    display: block;
    position: absolute;
    left: 25px;
    top: 0;
    .select2-search__field {
        &:focus {
            width: 100% !important;
            background-color: #ffffff;
        }        
    }
}


.bootstrap-select>.dropdown-toggle.bs-placeholder ,
.bootstrap-select>.dropdown-toggle {
    border: 0;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 15px;
    background-color: #ffffff;
    outline: none;
    &:hover ,
    &:focus {
        color: #212122;
        background-color: #ffffff;
    }
}
.filter-option-inner-inner {
    padding-right: 51px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #212122;
    background-color: #ffffff;
    outline-offset: 0;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle:hover, .bootstrap-select > .dropdown-toggle:focus {
    outline: 0 !important;
}
.bootstrap-select .dropdown-menu li a {
    font-weight: 300;
    padding: 15px;
    border-bottom: 0;
    font-size: 14px;
    &:focus, 
    &.active {
        color: #fff !important;
        background-color: #e77561 !important;
    }
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    display: none;
}
.bootstrap-select .dropdown-menu li a{
    &.selected ,
    &:hover {
        color: #fff !important;
        background-color: #e77561 !important; 
    }
    a {
        color: #fff !important;
        background-color: #e77561 !important; 
    }
}
.bs-searchbox .form-control {
    height: 40px;
}
.dropdown-toggle:after {
    background-image: url(../images/svg/icon-arrow_up.svg);
    background-position: center;
    border: 0;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-size: 100%;
    transform: rotate(180deg);
    transition: 0.3s;
}
.select__select.show {
    .dropdown-toggle:after {
        transform: rotate(0);
    }
}