include ../filter/filter.pug
mixin index-screen
    .index-screen-block
        .container-fluid
            .index-screen
                .container-fluid
                    h1.title Выбрать строительную компанию
                    .index-screen-filter    
                        form(action="file.php").filter-form
                            .row
                                .col-md-6.col-lg-3
                                    .form-cont
                                        
                                        label.select(for="states")
                                            a(href="" data-toggle="modal" data-target="#modal-district").open-modal Район
                                            select.js-select__letter.select__select(name="letter" data-live-search="true" data-size="5" title="Выберите район")
                                                option(value="b1") Балашиха ГО
                                                option(value="b2") Бронницы ГО
                                                option(value="v1") Волокаламский район
                                                option(value="v2") Воскресенский район
                                                option(value="d1") Дзержинский ГО
                                                option(value="d2") Дмитровский район
                                                option(value="d3") Долгопрудный ГО
                                                option(value="d4") Домодедовский ГО
                                                option(value="d5") Дубна ГО
                                                option(value="e1") Егорьевский ГО
                                                option(value="zh1") Жуковский ГО
                                                option(value="z1") Звенигород ГО
                                                option(value="i1") Ивантеевка ГО
                                                option(value="i2") Истринский район
                                                option(value="k1") Кашира ГО
                                                option(value="k2") Клинский район
                                                option(value="k3") Коломенский район
                                                option(value="k4") Коломна ГО
                                                option(value="k5") Королев ГО
                                                option(value="k6") Котельники ГО 
                                                option(value="k7") Красноармейск ГО
                                                option(value="k8") Красногорск ГО
                                                option(value="k9") Краснознаменск ГО
                                                option(value="l1") Ленинский район
                                                option(value="l2") Лобня ГО
                                                option(value="l3") Лосино-Петровский ГО
                                                option(value="l4") Лыткарино ГО
                                                option(value="l5") Люберцы ГО
                                                option(value="m1") Мжайский район
                                                option(value="m2") Мытищи ГО
                                                option(value="n1") Наро-Фоминский район
                                                option(value="n2") Ногинский район
                                                option(value="o1") Одинцовский район
                                                option(value="o2") Орехово-Зуево ГО
                                                option(value="o3") Орехово-Зуевский район
                                                option(value="p1") Подольск ГО
                                                option(value="p2") Протвино ГО
                                                option(value="p3") Пушкинский район
                                                option(value="p4") Пущино ГО
                                                option(value="r1") Раменский район
                                                option(value="r2") Реутов ГО
                                                option(value="r3") Рузский ГО
                                                option(value="s1") Сергиево-Посадский район
                                                option(value="s2") Серпухов ГО
                                                option(value="s3") Серпуховский район
                                                option(value="s4") Солнечногорский район
                                                option(value="s5") Ступинский район
                                                option(value="t1") Талдомский район
                                                option(value="f1") Фрязино ГО
                                                option(value="h1") Химки ГО
                                                option(value="ch1") Чеховский район
                                                option(value="sh1") Шатовский район
                                                option(value="shch1") Щелковский район
                                                option(value="ee1") Электрогорск ГО
                                .col-md-6.col-lg-3
                                    .form-cont
                                        a(href="" data-toggle="modal" data-target="#modal-services").open-modal Услуги
                                        label.select(for="states")
                                            select.js-select__services.select__select(data-count-selected-text="Выбрано {0} услуг"  data-selected-text-format="count > 3" data-size="5" name="services" multiple="multiple" data-live-search="true" title="Выберите услугу")
                                                option(value="ser1") Кирпичный дом
                                                option(value="ser2") Дом из блоков
                                                option(value="ser2-1") Дом из пеноблока
                                                option(value="ser2-2") Дом из кирпича
                                                option(value="ser3") Дома из бруса
                                                option(value="ser4") Дома из бревна
                                                option(value="ser4-1") Рубленного
                                                option(value="ser4-2") Оцилиндрованного
                                                option(value="ser5") Дома фахверк
                                                option(value="ser6") Дома с плоской крышей
                                                option(value="ser7") Панорамный дом
                                                option(value="ser8") Каркасно-щитовые дома
                                                option(value="ser8-1") Каркасно-щитовые дома 2
                                                option(value="ser9") Дома из панелей
                                                option(value="ser9-1") Дома из панелей 2
                                                option(value="ser10") Комбинированные
                                                option(value="ser11") Монолитные
                                                option(value="ser12") Дренажные работы
                                                option(value="ser13") Фундаментные работы
                                                option(value="ser14") Кладка кирпича и блоков
                                                option(value="ser15") Плотницкие работы
                                                option(value="ser16") Кровельные работы
                                                option(value="ser17") Ландшафтные работы
                                                option(value="ser18") Черновая отделка
                                                option(value="ser19") Чистовая отделка
                                                option(value="ser20") Фасадные
                                                option(value="ser21") Электричество
                                                option(value="ser22") Вода и отопление
                                                option(value="ser23") Скважины
                                                option(value="ser24") Тепловой насос 
                                                option(value="ser25") Канализация
                                                option(value="ser26") Септики
                                                option(value="ser27") Вентиляция
                                                option(value="ser28") Увлажнение воздуха
                                                option(value="ser29") Кондиционирование
                                                option(value="ser30") Умный дом
                                                option(value="ser31") Слаботочные системы
                                                option(value="ser32") Архитектурные проекты
                                                option(value="ser33") Инженерные проекты
                                                option(value="ser34") Ландшафтный дизайн
                                                option(value="ser35") Дизайн интерьеров
            
                                .col-md-6.col-lg-3
                                    label.select(for="price-1")
                                        select(name="price-1" id="price-1" title="Ценовой диапазон").select__select.select__styler
                                            option(value="От 500 000") От 500 000
                                            option(value="От 1 000 000") От 1 000 000
                                            option(value="От 3 000 000") От 3 000 000
                                .col-md-6.col-lg-3
                                    button.btn.btn--red Подобрать
                    .desc Мы&nbsp;проверили все строительные компании на&nbsp;юридическую чистоту и&nbsp;надежность, тем самым отсекли около&nbsp;80% сомнительных подрядчиков. Экономьте время, реализуйте мечты!
