.about_company {

}
.accordion-list {
    margin-bottom: 36px;
    @include small {
        margin-bottom: 30px;
    }
}
.card {
    border: 0;   
    border-radius: 15px;  
    margin-bottom: 16px;
    box-shadow: 0px 10px 35px 0px rgba(33, 33, 34, 0.06);
    @include medium {
        margin-bottom: 13px;
    }
    @include small {
        margin: 0 -15px 11px;
        padding: 0 15px;
        width: calc(100% + 30px);
        border-radius: 0;
        box-shadow: none;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &__header {
        display: flex;
        align-items: center;
        padding: 40px 26px;
        cursor: pointer;
        @include large {
            padding: 25px 26px;
        }
        @include medium {
            padding: 21px 17px;
        }
        @include small {
            padding: 21px 0;
        }
        &.collapsed {
            .arrow {
                .icon {
                    fill: #000000; 
                    transform: rotate(-180deg);
                }
            }
        }
    } 
    &__images {
        width: 45px;
        .icon {
            font-size: 40px;
            height: 40px;
            @include small {
                font-size: 26px;
            }
        }        
    }
    &__desc {
        display: flex;
        flex:  auto;
        margin-left: 25px;
        font-size: 16px;
        @include small {
            flex-direction: column;
            margin-left: 5px;
            font-size: 14px;
        }
        strong {
            font-weight: 500;
        }
        sup {
            font-size: 9px;
        }
    }
    &__name {
        font-weight: 300;
        max-width: 266px;
        width: 100%;
        @include medium {
            max-width: 295px;
        }
        @include small {
            margin-bottom: 9px;
        }
    }
}
.arrow {
    margin-right: 5px;
    @include small {
        margin-right: 0;
    }
    .icon {
        font-size: 12px;
        fill: #e77561;
        transform: rotate(0);
        transition: 0.3s;        
    }
}
.card__item {
    display: flex;
    padding: 13px 0;
    border-bottom: 1px solid #e4e6ee;
    @include small {

        margin: 0 -15px 0;
        padding: 17px 15px;
        width: calc(100% + 30px);        
    }
    &:last-child {
        border-bottom: 0;
    }
}
.card-body {
    margin: 0 29px;
    padding: 0 0 12px;
    border-top: 1px solid #e4e6ee;
    @include medium {
        margin: 0 20px;
    }
    @include small {
        margin: 0 -15px 11px;
        padding: 0 15px;
        width: calc(100% + 30px);
    }
    .card__name {
        max-width: 333px;
        @include medium {
            max-width: 362px;
        }
        @include small {
            font-size: 13px;
            max-width: 154px;
            margin-bottom: 0;
        }
    }
}
.calculate {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 25px 33px 32px;
    position: sticky;
    top: 10px;
    @include large {
        padding: 33px 30px 19px;
        margin-top: 50px;
    }
    @include medium {
        
        padding: 33px 25px 19px;
    }
    @include small {
        margin: 60px -15px 0;
        padding: 37px 15px 30px;
        width: calc(100% + 30px); 
        border-radius: 0;       
    }
    .h-title {
        font-size: 22px;
        text-align: center;
        margin-bottom: 17px;
        justify-content: center;
        @include large {
            margin-bottom: 22px;
        }
        @include medium {
            font-size: 18px;
        }
        @include small {
            font-size: 20px;
            margin-bottom: 24px;
        }
    }
}
.select {
    position: relative;
    margin-bottom: 16px;
    max-width: 360px;
    width: 100%;
    color: #212122;
    datalist {
        max-height: 200px;
    }
    &:nth-child(1) {
        z-index: 60;
    }
    &:nth-child(2) {
        z-index: 59;
    }    
    &:nth-child(3) {
        z-index: 58;
    }    
    &.disabled {
        z-index: 9;
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
    }
    &:before {
        @include small {
            content: '';
            background-image: url(../images/svg/icon-arrow_up.svg);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: 14px;
            width: 14px;
            height: 9px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: rotate(180deg) translateY(50%);
            z-index: 2;
        }
    }  
    @include large {
        max-width: 286px;
        margin-bottom: 21px;
    }
    @include medium {
        max-width: 49%;
    }
    @include small {
        max-width: none;
        width: 100%;
        margin-bottom: 15px;
        font-size: 16px;
    }
    select {
        width: 100%;
    }
    input {
        height: 60px;
        width: 100%;
        border-width: 1px;
        border-color: rgb(228, 230, 238);
        border-style: solid;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        display: block;
        padding-left: 15px;
        font-weight: 300;
        font-size: 16px;
        color: #212122;
        cursor: pointer;
        appearance: none;
        position: relative;
        background: none;
        text-shadow: none;
        box-shadow: none;
        transition: 0.3s;
        &::-webkit-calendar-picker-indicator {
            display: none;
        }
        &:focus {
            outline: 0;
        }  
    }
    datalist {
        height: 50px;
        &:hover {
            background-color: red;
        }
    }
    &__select {
        @include small {
            height: 60px;
            width: 100%;
            border-width: 1px;
            border-color: rgb(228, 230, 238);
            border-style: solid;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            display: block;
            padding-left: 15px;
            font-weight: 300;
            font-size: 16px;
            color: #212122;
            cursor: pointer;
            appearance: none;
            position: relative;
            background: none;
            text-shadow: none;
            box-shadow: none;
            transition: 0.3s;
            &:focus {
                outline: 0;
            } 
        }

    } 
}
.jq-selectbox ul {
    max-height: 200px !important;
}

.jq-selectbox__select {
    height: 60px;
    width: 100%;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: block;
    padding-left: 25px;
    font-weight: 300;
    font-size: 14px;
    color: #7d7d7d;
    cursor: pointer;
    appearance: none;
    position: relative;
    background: none;
    text-shadow: none;
    box-shadow: none;
    transition: 0.3s;

    @include large {
        padding-left: 19px;
    }
    @include small {
        padding-left: 13px;
        font-size: 16px;
    }
    &:focus {
        outline: 0;
    }
}
.jq-selectbox.opened {
    .jq-selectbox__select {
        border-radius: 10px 10px 0 0;
    }
}
.jq-selectbox__trigger {
    border: 0;
    &:after {
        content: '';
        background-image: url(../images/svg/icon-arrow_up.svg);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 14px;
        width: 14px;
        height: 9px;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: rotate(180deg) translateY(50%);
        z-index: 2;
        @include small {
            right: 15px;
        }
    }        
}
.jq-selectbox__trigger-arrow {
    display: none;
}
.jq-selectbox li {
    font-weight: 300;
    padding: 15px;
    border-bottom: 0;
    &:first-child {
        display: none;
    }
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background-color: #e77561 !important;
        color: #ffffff !important;
    }
}
.jq-selectbox__dropdown {
    box-shadow: 0px 15px 25px 0px rgba(33, 33, 34, 0.05);
    border-width: 1px;
    border-color: rgb(228, 230, 238);
    border-style: solid;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    width: calc(100% + 2px);
    margin: 1px -1px 0;
}
.jq-selectbox {
    display: block;
    border-width: 1px;
    border-color: rgb(228, 230, 238);
    border-style: solid;
    border-radius: 10px;
}
.jq-selectbox.opened {
    border-radius: 10px 10px 0 0 ;
}

.jq-selectbox__select-text {
    padding: 20px 0;
}
.jq-selectbox select {
    display: none;
}
.jq-selectbox li.selected {
    background-color: transparent;
    color: #231f20;
}
.form-input {
    display: block;
    padding-left: 25px;
    font-weight: 300;
    font-size: 14px;
    color: #7d7d7d;
    height: 60px;
    margin-bottom: 16px;

    border-width: 1px;
    border-color: rgb(228, 230, 238);
    border-style: solid;
    border-radius: 10px;
    max-width: 360px;
    width: 100%;
    &:disabled {
        background-color: #ffffff;
    }
    @include large {
        max-width: none;
        padding-left: 19px;
        margin-bottom: 21px;
    }

    @include small {
        max-width: none;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 13px;
        font-size: 16px;
        box-shadow: 0;
    }    
    &:focus {
        outline: 0;
    }    
}
.form-calculate {
    @include large {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @include small {
        max-width: 375px;
        margin: 0 auto;
    }
    & > * {
        @include large {
            max-width: 33%;
            width: 100%;
        }
        @include medium {
            max-width: 49%;
        }
        @include small {
            max-width: none;
        }
    }
    label {
        button {
            padding-left: 0;
            padding-right: 0;
            font-weight: 500;
            
            width: 100%;
            @include large {
                
                margin: 0 auto 21px;
            }
    
            @include small {
                max-width: none;
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
    &__button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        @include large {
            margin: 0 auto;
        }
        
        @include medium {
            max-width: 49%;
            height: 60px;
            margin: 0;
        }
        @include small {
            max-width: 100%;
        }
    }

}
.select2-container--default {
    .select2-selection--multiple {
        border: 0;
        height: 62px;
        border-radius: 10px;
        transition: 0.3s;
    }
    &.select2-container--focus {
        .select2-selection--multiple {
            border: 0;
        }
    }
} 
.select__select-calc {
    &.bootstrap-select > .dropdown-toggle ,
    &.bootstrap-select > .dropdown-toggle.bs-placeholder {
        color: #7d7d7d;
        border-width: 1px;
        border-style: solid;
        border-color: #e4e6ee;
        border-radius: 10px;
    }
    &.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
        font-weight: 400;
        padding-right: 0;
    }
    
}
label.error {
    .btn {
        border: 1px solid #b94a48 !important;
    }
}

.js-number:disabled {
    background-color: #f6f7f9;
}