mixin about_company
    section.about_company
        h5.h-title Что делает компания?
        .row
            .col-xl-8
                #accordion.accordion-list
                    .card
                        #headingOne
                            .card__header.collapsed(role="button" data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                .card__images
                                    svg.icon
                                        use(xlink:href="#icon-home")
                                .card__desc
                                    .card__name Фундаментальные работы
                                    strong от 1 000 000 ₽ за 100 м
                                        sup 2
                                .arrow
                                    svg.icon
                                            use(xlink:href="#icon-arrow_up")
                        #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                            .card-body
                                .card-list
                                    .card__item
                                        .card__name Металочерепица
                                        strong от 18 000 ₽  за 1 м
                                            sup 2
                                    .card__item
                                        .card__name Мягкая черепица
                                        strong от 15 000 ₽  за 1 м
                                            sup 2
                                    .card__item
                                        .card__name Цементно-песчаная черепица
                                        strong от 15 000 ₽  за 1 м
                                            sup 2  
                    .card
                        #headingTwo
                            
                            .card__header.collapsed(role="button" data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                .card__images
                                    svg.icon
                                        use(xlink:href="#icon-brick")
                                .card__desc
                                    .card__name Кирпичная кладка
                                    strong от 10 000 ₽ за 1 м
                                        sup 2
                                .arrow
                                    svg.icon
                                            use(xlink:href="#icon-arrow_up")                                            
                        #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                            .card-body
                                .card-list
                                    .card__item
                                        .card__name Металочерепица
                                        strong от 18 000 ₽  за 1 м
                                            sup 2
                                    .card__item
                                        .card__name Мягкая черепица
                                        strong от 15 000 ₽  за 1 м
                                            sup 2
                                    .card__item
                                        .card__name Цементно-песчаная черепица
                                        strong от 15 000 ₽  за 1 м
                                            sup 2  
                    .card
                        #headingThree
                        
                            .card__header.collapsed(role="button" data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                .card__images
                                    svg.icon
                                        use(xlink:href="#icon-roof")
                                .card__desc
                                    .card__name Кровельные работы
                                    strong от 15 000 ₽ за 1 м
                                        sup 2
                                .arrow
                                    svg.icon
                                            use(xlink:href="#icon-arrow_up")                                            
                        #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordion')
                            .card-body
                                .card-list
                                    .card__item
                                        .card__name Металочерепица
                                        strong от 18 000 ₽  за 1 м
                                            sup 2
                                    .card__item
                                        .card__name Мягкая черепица
                                        strong от 15 000 ₽  за 1 м
                                            sup 2
                                    .card__item
                                        .card__name Цементно-песчаная черепица
                                        strong от 15 000 ₽  за 1 м
                                            sup 2
                a(href="").show-all
                    span(data-icon="3") Все услуги
            .col-xl-4
                .calculate
                    h5.h-title Калькулятор
                    form.form-calculate(name="js-calculate")
                        label.select(for="option-1")
                            select(id="option-1" name="option-1").select__select.select__select-calc.select__styler
                                option(value="Выберите наименование услуг" disabled selected) Выберите наименование услуг
                                option(value="Услуга 1") Услуга 1
                                option(value="Услуга 2") Услуга 2
                                option(value="Услуга 3") Услуга 3
                        label.select.disabled(for="option-2")
                            select(name="option-2" id="option-2" ).select__select.select__styler.select__select-calc
                                option(value="Выберите материалы" disabled selected) Выберите материалы
                                option(value="Услуга 1") Услуга 1
                                option(value="Услуга 2") Услуга 2
                                option(value="Услуга 3") Услуга 3
                        label(for="number")
                            input(type="text" id="number" name="number" placeholder="Введите объем работы" disabled).form-input.js-number
                        button.btn.btn--red.form-calculate__button Расчет моей сметы