mixin form-index
    .form-index
        h5.h-title Отправьте свои контакты и мы расчитаем вам смету
        form.form-contancts 
            .form-contancts--column
                label(for="name")
                    input(type="text" id="name" name="name" placeholder="Ваше имя").form-input
                label(for="phone")
                    input(type="tel" id="phone" name="phone" placeholder="Номер телефона").form-input
            .form-contancts--column-2
                label(for="comment")
                    textarea(name="" id="comment" placeholder="Ваши пожелания")
            .form-contancts--column.form-contancts--column-md-last
                .politic
                    label(for="politic").fake-check
                        input(type="checkbox" id="politic")
                        include ../../images/svg/icon-check.svg         
                        span Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с 
                            a(href="")  Политикой Конфиденциальности
                button.btn.btn--red Отправить
            .form-contancts--column-3
                .form-contancts--column
                    label(for="konkurs").fake-check.align-items-center.konkurs
                        input(type="checkbox" id="konkurs")
                        include ../../images/svg/icon-check.svg 
                        span Включить компанию в конкурс 
                .form-contancts--column
                    .file-input
                        input(type="file")
                        svg.icon
                            use(xlink:href="#icon-clip")
                        span Прикрепить документ