.form-index {
    border-radius: 15px;
    background-color: rgb(242, 244, 250);
    min-height: 409px;
    padding: 52px 82px;
    margin-bottom: 50px;
    @include large {
        padding: 52px 70px 60px;
    }
    @include medium {
        padding: 33px 29px 41px;
    }
    @include  small {
        margin: 0 -15px;
        padding: 60px 15px;
        width: calc(100% + 30px);
        border: 0;
        border-radius: 0;
    }
    .h-title {
        text-align: center;
        display: block;
        max-width: 730px;
        margin: 0 auto 35px;
        @include medium {
            margin-bottom: 25px;
        }
        @include small {
            margin-bottom: 32px;
        }
    }
    
}

.form-contancts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include small {
        flex-direction: column;
    }
    &--column {
        max-width: 29%;
        width: 100%;
        flex: 0 0 auto;
        @include large {
            max-width: 37%;
        }
        @include medium {
            max-width: 43%;
        }
        @include small {
            max-width: none;
        }
        &-2 {
            max-width: 36%;
            width: 100%;
            @include large {
                max-width: 60%;
            }
            @include medium {
                max-width: 53%;
            }  
            @include small {
                max-width: none;
            }                      
        }
    }

    .btn {
        width: 100%;
        max-width: 311px;
        display: block;
        @include large {
            margin: 0 auto;
        }
        @include medium {
            max-width: 235px;
        }
        @include small {
            max-width: 375px;
        }
    }
    .form-input {
        border: 0;
        margin-bottom: 24px;
        @include large {
            padding-left: 25px;
            max-width: none;
        }
        @include small {
            padding-left: 19px;
            margin-bottom: 15px;
        }
    }
    textarea {
        width: 100%;
        height: 144px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        border: 0;
        padding: 20px 25px;
        font-size: 14px;
        font-weight: 300;
        resize: none;
        &:focus {
            outline: none;
        }
        @include small {
            padding: 20px;
            font-size: 16px;
            margin-bottom: 13px;
        }
    }
}
.form-contancts--column-md-last {
    @include large {
        order: 1;
        max-width: 100%;
        margin-top: 24px;
    }
    @include medium {
        max-width: 100%;
    }
    @include small {
        margin-top: 9px;
    }
}
.checks {
    fill: #fff;
}

.fake-check {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    padding-top: 2px;
    color: #7d7d7d;
    font-weight: 300;
    margin: 0;
    @include large {
        align-items: center;
    }
    @include small {
        align-items: flex-start;
    }
    svg {
        width: 22px; 
        flex: 0 0 auto;
        margin-top: 4px;
        margin-right: 20px;
        background-color: #fff;
        border-radius: 3px;
        @include medium {
            margin-top: 0;
        }
        @include small {
            margin-right: 13px;
        }
        .checks {
            fill:  transparent;
            transition: 0.3s;
        }
    }
    input {
        display: none;
    }
    input:checked + svg {
        .checks {
            fill: #212122;
            transform: scale(1);
        }
    }
}
.form-contancts--column-3 {
    display: flex;
    margin-top: -2px;
    width: 100%;
    @include small {
        margin-top: 0;
        flex-direction: column;
    }
    .form-contancts--column {
        margin-right: 30px;
        @include small {
            margin: 0 0 15px;
        }
    }
}
.konkurs {
    font-size: 14px;
    svg {
        margin-top: 0;
    }
}
.politic {
    margin-bottom: 28px;
    position: relative;
    @include large {
        margin-bottom: 24px;
    }
    a {
        color: #212122;
    }    
}


.file-input {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    .icon {
        width: 25px;
        height: 25px;
        margin-right: 18px;
        @include small {
            width: 23px;
            height: 23px;
            margin-right: 13px;
        }
    }
    span {
        color: #7d7d7d;
        font-size: 14px;
        font-weight: 300;
    }
    input {
        opacity: 0;
        position: absolute;
    }
}