mixin head(data)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        meta(name="theme-color", content="#ffffff")
        title #{data.title}
        meta(property='og:url', content= data.url)
        meta(property='og:type', content='website')
        meta(property='og:title', content= data.title)
        meta(property='og:description', content= data.desc)
        meta(property='og:image', content= data.img)
        link(rel="apple-touch-icon" href="images/favicon.ico")
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
        meta(name="description" content= data.desc)
        link(rel="stylesheet", href="style/libs.min.css")
        link(rel="stylesheet", href="style/main.css")