include ../../components/radio/radio.pug
mixin footer
    footer
        .container-fluid
            .row
                .col-md-3
                    a(href="").logo
                        img(data-src="images/logo.png", alt="").lazyload
                    .foot-text Маркетплейс <br>строительных услуг
                .col-md-9
                    .row
                        .col-lg-4.col-md-6
                            ul.footer-menu  
                                li.footer-menu__item 
                                    a(href="").footer-menu__link Главная
                                li.footer-menu__item 
                                    a(href="").footer-menu__link О проекте
                                li.footer-menu__item 
                                    a(href="").footer-menu__link Строительные компании
                                li.footer-menu__item 
                                    a(href="").footer-menu__link Блог
                                li.footer-menu__item 
                                    a(href="").footer-menu__link Контакты
                        .col-lg-4.col-md-6
                            ul.footer-menu  
                                li.footer-menu__item 
                                    a(href="").footer-menu__link Политика конфиденциальности
                                li.footer-menu__item 
                                    a(href="").footer-menu__link Пользовательское соглашение
                        .col-lg-4.col-md-6
                            .cons
                                .cons-title Контакты: 
                                a(href="mailto:email@email.com").cons-email email@email.com
                                a(href="").btn Написать нам

            .copy © 2020 Все права защищены
    #modalVideo.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-dialog--video(role='document')
            .modal-content
                .modal-close.js-video-close
                    svg.icon
                        use(xlink:href="#icon-close")
                <iframe id="video-youtube" title="Видео" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    #modal-district.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-district', aria-hidden='true')
        .modal-dialog.modal-dialog--modals(role='document')
            .modal-content
                .modal-body
                    .modal-close(data-dismiss="modal" aria-label="Close")
                        svg.icon
                            use(xlink:href="#icon-close")
                    strong Районы МО
                    .district-list-columns
                        .district-list-flex.row
                            .col-xl-3.col-lg-4.col-md-6
                                .district-list
                                    .district-list-letter Б
                                    .district-list-list
                                        label(for="b1").radio
                                            input(type="radio", checked name="letter" value="Балашиха ГО" id="b1")
                                            .checks
                                            span Балашиха ГО
                                        label(for="b2").radio
                                            input(type="radio", name="letter" id="b2" value="Бронницы ГО")
                                            .checks
                                            span Бронницы ГО
                                .district-list
                                    .district-list-letter В
                                    .district-list-list
                                        label(for="v1").radio
                                            input(type="radio", name="letter" id="v1" value="Волокаламский район")
                                            .checks
                                            span Волокаламский район
                                        label(for="v2").radio
                                            input(type="radio", name="letter" id="v2" value="Воскресенский район")
                                            .checks
                                            span Воскресенский район
                                .district-list
                                    .district-list-letter Д
                                    .district-list-list
                                        label(for="d1").radio
                                            input(type="radio", name="letter" id="d1" value="Дзержинский ГО")
                                            .checks
                                            span Дзержинский ГО
                                        label(for="d2").radio
                                            input(type="radio", name="letter" id="d2" value="Дмитровский район")
                                            .checks
                                            span Дмитровский район
                                        label(for="d3").radio
                                            input(type="radio", name="letter" id="d3" value="Долгопрудный ГО")
                                            .checks
                                            span Долгопрудный ГО
                                        label(for="d4").radio
                                            input(type="radio", name="letter" id="d4" value="Домодедовский ГО")
                                            .checks
                                            span Домодедовский ГО
                                        label(for="d5").radio
                                            input(type="radio", name="letter" id="d5" value="Дубна ГО")
                                            .checks
                                            span Дубна ГО
                                .district-list
                                    .district-list-letter Е
                                    .district-list-list
                                        label(for="e1").radio
                                            input(type="radio", name="letter" id="e1" value="Егорьевский ГО")
                                            .checks
                                            span Егорьевский ГО
                                .district-list
                                    .district-list-letter Ж
                                    .district-list-list
                                        label(for="zh1").radio
                                            input(type="radio", name="letter" id="zh1" value="Жуковский ГО")
                                            .checks
                                            span Жуковский ГО
                                .district-list
                                    .district-list-letter З
                                    .district-list-list
                                        label(for="z1").radio
                                            input(type="radio", name="letter" id="z1" value="Звенигород ГО")
                                            .checks
                                            span Звенигород ГО
                                .district-list
                                    .district-list-letter И
                                    .district-list-list
                                        label(for="i1").radio
                                            input(type="radio", name="letter" id="i1" value="Ивантеевка ГО")
                                            .checks
                                            span Ивантеевка ГО
                                        label(for="i2").radio
                                            input(type="radio", name="letter" id="i2" value="Истринский район")
                                            .checks
                                            span Истринский район
                            .col-xl-3.col-lg-4.col-md-6
                                .district-list
                                    .district-list-letter K
                                    .district-list-list
                                        label(for="k1").radio
                                            input(type="radio", name="letter" id="k1" value="Кашира ГО")
                                            .checks
                                            span Кашира ГО
                                        label(for="k2").radio
                                            input(type="radio", name="letter" id="k2" value="Клинский район")
                                            .checks
                                            span Клинский район
                                        label(for="k3").radio
                                            input(type="radio", name="letter" id="k3" value="Коломенский район")
                                            .checks
                                            span Коломенский район
                                        label(for="k4").radio
                                            input(type="radio", name="letter" id="k4" value="Коломна ГО")
                                            .checks
                                            span Коломна ГО
                                        label(for="k5").radio
                                            input(type="radio", name="letter" id="k5" value="Королев ГО")
                                            .checks
                                            span Королев ГО
                                        label(for="k6").radio
                                            input(type="radio", name="letter" id="k6" value="Котельники ГО")
                                            .checks
                                            span Котельники ГО
                                        label(for="k7").radio
                                            input(type="radio", name="letter" id="k7" value="Красноармейск ГО")
                                            .checks
                                            span Красноармейск ГО
                                        label(for="k8").radio
                                            input(type="radio", name="letter" id="k8" value="Красногорск ГО")
                                            .checks
                                            span Красногорск ГО
                                        label(for="k9").radio
                                            input(type="radio", name="letter" id="k9" value="Краснознаменск ГО")
                                            .checks
                                            span Краснознаменск ГО
                                .district-list
                                    .district-list-letter Л
                                    .district-list-list
                                        label(for="l1").radio
                                            input(type="radio", name="letter" id="l1" value="Ленинский район")
                                            .checks
                                            span Ленинский район
                                        label(for="l2").radio
                                            input(type="radio", name="letter" id="l2" value="Лобня ГО")
                                            .checks
                                            span Лобня ГО
                                        label(for="l3").radio
                                            input(type="radio", name="letter" id="l3" value="Лосино-Петровский ГО")
                                            .checks
                                            span Лосино-Петровский ГО
                                        label(for="l4").radio
                                            input(type="radio", name="letter" id="l4" value="Лыткарино ГО")
                                            .checks
                                            span Лыткарино ГО
                                        label(for="l5").radio
                                            input(type="radio", name="letter" id="l5" value="Люберцы ГО")
                                            .checks
                                            span Люберцы ГО
                                .district-list
                                    .district-list-letter М
                                    .district-list-list
                                        label(for="m1").radio
                                            input(type="radio", name="letter" id="m1" value="Мжайский район")
                                            .checks
                                            span Мжайский район
                                        label(for="m2").radio
                                            input(type="radio", name="letter" id="m2" value="Мытищи ГО")
                                            .checks
                                            span Мытищи ГО
                                .district-list
                                    .district-list-letter Н
                                    .district-list-list
                                        label(for="n1").radio
                                            input(type="radio", name="letter" id="n1" value="Наро-Фоминский район")
                                            .checks
                                            span Наро-Фоминский район
                                        label(for="n2").radio
                                            input(type="radio", name="letter" id="n2" value="Ногинский район")
                                            .checks
                                            span Ногинский район
                            .col-xl-3.col-lg-4.col-md-6
                                .district-list
                                    .district-list-letter О
                                    .district-list-list
                                        label(for="o1").radio
                                            input(type="radio", name="letter" id="o1" value="Одинцовский район")
                                            .checks
                                            span Одинцовский район
                                        label(for="o2").radio
                                            input(type="radio", name="letter" id="o2" value="Орехово-Зуево ГО")
                                            .checks
                                            span Орехово-Зуево ГО 
                                        label(for="o3").radio
                                            input(type="radio", name="letter" id="o3" value="Орехово-Зуевский район")
                                            .checks
                                            span Орехово-Зуевский район
                                .district-list
                                    .district-list-letter П
                                    .district-list-list
                                        +radio("p1" , "Подольск ГО")
                                        +radio("p2" , "Протвино ГО")
                                        +radio("p3" , "Пушкинский район")
                                        +radio("p4" , "Пущино ГО")
                                .district-list
                                    .district-list-letter Р
                                    .district-list-list
                                        +radio("r1" , "Раменский район")
                                        +radio("r2" , "Реутов ГО")
                                        +radio("r3" , "Рузский ГО")
                                .district-list
                                    .district-list-letter С
                                    .district-list-list
                                        +radio("s1" , "Сергиево-Посадский район")
                                        +radio("s2" , "Серпухов ГО")
                                        +radio("s3" , "Серпуховский район")
                                        +radio("s4" , "Солнечногорский район")
                                        +radio("s5" , "Ступинский район")
                                .district-list
                                    .district-list-letter Т
                                    .district-list-list
                                        +radio("t1" , "Талдомский район")
                            .col-xl-3.col-lg-4.col-md-6 
                                .district-list
                                    .district-list-letter Ф
                                    .district-list-list
                                        +radio("f1" , "Фрязино ГО")
                                .district-list
                                    .district-list-letter Х
                                    .district-list-list
                                        +radio("h1" , "Химки ГО")  
                                .district-list
                                    .district-list-letter Ч
                                    .district-list-list
                                        +radio("ch1" , "Чеховский район")   
                                .district-list
                                    .district-list-letter Ш
                                    .district-list-list
                                        +radio("sh1" , "Шатовский район") 
                                .district-list
                                    .district-list-letter Щ
                                    .district-list-list
                                        +radio("shch1" , "Щелковский район")
                                .district-list
                                    .district-list-letter Э
                                    .district-list-list
                                        +radio("ee1" , "Электрогорск ГО")
                        .row.justify-content-end
                            button.btn.btn--red.js-select-letter Готово
    #modal-services.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-services', aria-hidden='true')
        .modal-dialog.modal-dialog--modals(role='document')
            .modal-content
                .modal-body
                    .modal-close(data-dismiss="modal" aria-label="Close")
                        svg.icon
                            use(xlink:href="#icon-close")
                    .row
                        .col-xl-3.col-lg-4.col-md-6 
                            .column-cont
                                .r-text Строительство домов под ключ
                                .s-text Каменные дома
                                .column
                                    .labes
                                        label(for="ser1").radio
                                            input(type="checkbox", name="services" value="Кирпичный дом " id="ser1")
                                            .checks
                                            span Кирпичный дом 
                                    .labes
                                        label(for="ser2").radio
                                            input(type="checkbox", name="services" value="Дом из блоков" id="ser2")
                                            .checks
                                            span Дом из блоков
                                        .arrows.js-arrow
                                        ul.labes-list
                                            li.labes-list__item
                                                .labes
                                                    label(for="ser2-1").radio
                                                        input(type="checkbox", name="services" value="Дом из пеноблока" id="ser2-1")
                                                        .checks
                                                        span Дом из пеноблока
                                            li.labes-list__item
                                                .labes
                                                    label(for="ser2-2").radio
                                                        input(type="checkbox", name="services" value="Дом из кирпича" id="ser2-2")
                                                        .checks
                                                        span Дом из кирпича
                                .s-text Деревянные дома
                                .column
                                    .labes
                                        label(for="ser3").radio
                                            input(type="checkbox", name="services" value="Дома из бруса" id="ser3")
                                            .checks
                                            span Дома из бруса
                                    .labes
                                        label(for="ser4").radio
                                            input(type="checkbox", name="services" value="Дома из бревна" id="ser4")
                                            .checks
                                            span Дома из бревна
                                        .arrows.js-arrow
                                        ul.labes-list
                                            li.labes-list__item
                                                .labes
                                                    label(for="ser4-1").radio
                                                        input(type="checkbox", name="services" value="Рубленного" id="ser4-1")
                                                        .checks
                                                        span Рубленного
                                            li.labes-list__item
                                                .labes
                                                    label(for="ser4-2").radio
                                                        input(type="checkbox", name="services" value="Оцилиндрованного" id="ser4-2")
                                                        .checks
                                                        span Оцилиндрованного
                                .s-text Проекты
                                .column
                                    .labes
                                        label(for="ser5").radio
                                            input(type="checkbox", name="services" value="Дома фахверк" id="ser5")
                                            .checks
                                            span Дома фахверк
                                    .labes
                                        label(for="ser6").radio
                                            input(type="checkbox", name="services" value="Дома с плоской крышей" id="ser6")
                                            .checks
                                            span Дома с плоской крышей
                                    .labes
                                        label(for="ser7").radio
                                            input(type="checkbox", name="services" value="Панорамный дом" id="ser7")
                                            .checks
                                            span Панорамный дом
                                .column
                                    .labes
                                        label(for="ser8").radio
                                            input(type="checkbox", name="services" value="Каркасно-щитовые дома" id="ser8")
                                            .checks
                                            strong Каркасно-щитовые дома
                                        .arrows.js-arrow
                                        ul.labes-list
                                            li.labes-list__item
                                                .labes
                                                    label(for="ser8-1").radio
                                                        input(type="checkbox", name="services" value="Каркасно-щитовые дома 2" id="ser8-1")
                                                        .checks
                                                        span Каркасно-щитовые дома 2
                                .column
                                    .labes
                                        label(for="ser9").radio
                                            input(type="checkbox", name="services" value="Дома из панелей" id="ser9")
                                            .checks
                                            strong Дома из панелей
                                        .arrows.js-arrow
                                        ul.labes-list
                                            li.labes-list__item
                                                .labes
                                                    label(for="ser9-1").radio
                                                        input(type="checkbox", name="services" value="Дома из панелей 2" id="ser9-1")
                                                        .checks
                                                        span Дома из панелей 2
                                .column
                                    .labes
                                        label(for="ser10").radio
                                            input(type="checkbox", name="services" value="Комбинированные" id="ser10")
                                            .checks
                                            strong Комбинированные
                                .column
                                    .labes
                                        label(for="ser11").radio
                                            input(type="checkbox", name="services" value="Монолитные" id="ser11")
                                            .checks
                                            strong Монолитные
                        .col-xl-3.col-lg-4.col-md-6 
                            .column-cont
                                .r-text Строительные работы
                                .column
                                    .labes
                                        label(for="ser12").radio
                                            input(type="checkbox", name="services" value="Дренажные работы" id="ser12")
                                            .checks
                                            span Дренажные работы
                                    .labes
                                        label(for="ser13").radio
                                            input(type="checkbox", name="services" value="Фундаментные работы" id="ser13")
                                            .checks
                                            span Фундаментные работы
                                    .labes
                                        label(for="ser14").radio
                                            input(type="checkbox", name="services" value="Кладка кирпича и блоков" id="ser14")
                                            .checks
                                            span Кладка кирпича и блоков
                                    .labes
                                        label(for="ser15").radio
                                            input(type="checkbox", name="services" value="Плотницкие работы" id="ser15")
                                            .checks
                                            span Плотницкие работы
                                    .labes
                                        label(for="ser16").radio
                                            input(type="checkbox", name="services" value="Кровельные работы" id="ser16")
                                            .checks
                                            span Кровельные работы
                                    .labes
                                        label(for="ser17").radio
                                            input(type="checkbox", name="services" value="Ландшафтные работы" id="ser17")
                                            .checks
                                            span Ландшафтные работы
                            .column-cont
                                .r-text Отделочные работы
                                .s-text Внутренние
                                .column
                                    .labes
                                        label(for="ser18").radio
                                            input(type="checkbox", name="services" value="Черновая отделка" id="ser18")
                                            .checks
                                            span Черновая отделка
                                    .labes
                                        label(for="ser19").radio
                                            input(type="checkbox", name="services" value="Чистовая отделка" id="ser19")
                                            .checks
                                            span Чистовая отделка
                                .column
                                    .labes
                                        label(for="ser20").radio
                                            input(type="checkbox", name="services" value="Фасадные" id="ser20")
                                            .checks
                                            strong Фасадные
                        .col-xl-3.col-lg-4.col-md-6 
                            .column-cont
                                .r-text Коммуникации
                                .column
                                    .labes
                                        label(for="ser21").radio
                                            input(type="checkbox", name="services" value="Электричество" id="ser21")
                                            .checks
                                            span Электричество
                                    .labes
                                        label(for="ser22").radio
                                            input(type="checkbox", name="services" value="Вода и отопление" id="ser22")
                                            .checks
                                            span Вода и отопление
                                    .labes
                                        label(for="ser23").radio
                                            input(type="checkbox", name="services" value="Скважины" id="ser23")
                                            .checks
                                            span Скважины
                                    .labes
                                        label(for="ser24").radio
                                            input(type="checkbox", name="services" value="Тепловой насос" id="ser24")
                                            .checks
                                            span Тепловой насос 
                                    .labes
                                        label(for="ser25").radio
                                            input(type="checkbox", name="services" value="Канализация" id="ser25")
                                            .checks
                                            span Канализация
                                    .labes
                                        label(for="ser26").radio
                                            input(type="checkbox", name="services" value="Септики" id="ser26")
                                            .checks
                                            span Септики
                                    .labes
                                        label(for="ser27").radio
                                            input(type="checkbox", name="services" value="Вентиляция" id="ser27")
                                            .checks
                                            span Вентиляция
                                    .labes
                                        label(for="ser28").radio
                                            input(type="checkbox", name="services" value="Увлажнение воздуха" id="ser28")
                                            .checks
                                            span Увлажнение воздуха
                                    .labes
                                        label(for="ser29").radio
                                            input(type="checkbox", name="services" value="Кондиционирование" id="ser29")
                                            .checks
                                            span Кондиционирование
                                    .labes
                                        label(for="ser30").radio
                                            input(type="checkbox", name="services" value="Умный дом" id="ser30")
                                            .checks
                                            span Умный дом
                                    .labes
                                        label(for="ser31").radio
                                            input(type="checkbox", name="services" value="Слаботочные системы" id="ser31")
                                            .checks
                                            span Слаботочные системы
                        .col-xl-3.col-lg-4.col-md-6 
                            .column-cont
                                .r-text Проектные работы
                                .column
                                    .labes
                                        label(for="ser32").radio
                                            input(type="checkbox", name="services" value="Архитектурные проекты" id="ser32")
                                            .checks
                                            span Архитектурные проекты
                                    .labes
                                        label(for="ser33").radio
                                            input(type="checkbox", name="services" value="Инженерные проекты" id="ser33")
                                            .checks
                                            span Инженерные проекты
                                    .labes
                                        label(for="ser34").radio
                                            input(type="checkbox", name="services" value="Архитектурные проекты" id="ser34")
                                            .checks
                                            span Ландшафтный дизайн
                                    .labes
                                        label(for="ser35").radio
                                            input(type="checkbox", name="services" value="Дизайн интерьеров" id="ser35")
                                            .checks
                                            span Дизайн интерьеров
                    .row.justify-content-end
                        button.btn.btn--red.js-select-services Готово
    #modal-calculate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-calculate', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-body
                    .modal-close(data-dismiss="modal" aria-label="Close")
                        svg.icon
                            use(xlink:href="#icon-close")
                    .list-pricing
                        .pricing-item
                            .pricing-item__name Примерная стоимость работ:
                            strong.pricing-item__warn от 
                                span.js-option-price 3 150 000
                                |  ₽
                        .pricing-item
                            .pricing-item__name Услуги:
                            strong.js-option-1 Кровельные работы
                        .pricing-item
                            .pricing-item__name Материал:
                            strong.js-option-2 Металлочерепица
                        .pricing-item
                            .pricing-item__name Объем:
                            strong.js-option-3.pricing-item__val 180
                    .modal-warn * Данный расчет является ориентировочным. <br>Для точного расчета стоимости работ, отправьте заявку
                    .d-flex.justify-content-center
                        a(href="").btn.btn--red.js-modal-callback Оставить заявку
    #modal-callback.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-callback', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-body
                    .modal-close(data-dismiss="modal" aria-label="Close")
                        svg.icon
                            use(xlink:href="#icon-close")
                    form(action="")
                        h5.h-title Оставить заявку
                        label(for="name")
                            input(type="text" id="name" name="name" placeholder="Ваше имя").form-input
                        label(for="phone")
                            input(type="tel" id="phone" name="phone" placeholder="Номер телефона").form-input
                        label(for="email")
                            input(type="email" id="email" name="email" placeholder="E-mail").form-input
                        .politic
                            label(for="politics").fake-check
                                input(type="checkbox" id="politics")
                                include ../../images/svg/icon-check.svg         
                                span Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с 
                                    a(href="")  Политикой Конфиденциальности
                        button.btn.btn--red Отправить
    .menu-modal
        .menu-modal__body
            .menu-modal__header
                .menu-close
                    svg.icon
                        use(xlink:href="#icon-close")
                    span Закрыть
            .menu-modal__container
                ul.menu-modal__menu
                    li.menu-modal__item
                        a(href="").menu-modal__link Главная
                    li.menu-modal__item
                        a(href="").menu-modal__link О проекте
                    li.menu-modal__item
                        a(href="").menu-modal__link Строительные компании
                    li.menu-modal__item
                        a(href="").menu-modal__link Блог
                    li.menu-modal__item
                        a(href="").menu-modal__link Контакты
            .menu-modal__footer
                .mb-4
                    a(href="").menu-modal__email email@company.com
                div
                    a(href="").btn Написать нам
    div(style="display: none")
        include ../../images/svg/sprite.svg
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="js/libs.min.js")
    script(src="js/script.js")
