.modal-dialog--video {
    max-width: 650px;
}
#video-youtube {
    max-width: 650px;
    width: 100%;
    height: 350px;
    border: 0;
}
.modal-close {
    position: absolute;
    right: -25px;
    cursor: pointer;
    top: -25px;
    @include small {
        right: 0;
        top: -30px
    }
    .icon {
        fill: #ffffff;
        font-size: 25px;
    }
}
.modal-dialog {
    margin-top: 60px;
}
footer {
    border-top: 1px solid #e3e6ed;

    background-color: #ffffff;
    padding: 54px 0;
    @include small {
        padding: 25px 0;
    }
    .logo {
        margin-bottom: 12px;
    }
}
.foot-text {
    font-size: 13px;
    margin-bottom: 20px;
}
.footer-menu {
    padding: 0;
    list-style: none;
    &__item {
        margin-bottom: 17px;
    }
    &__link {
        font-size: 15px;
        color: #212122;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            text-decoration: underline;
            color: #e77561;
        }
    }
}
.cons {
    margin-bottom: 20px;
    &-title {
        letter-spacing: .05em;
        text-transform: uppercase;
        font-family: 'Philosopher', sans-serif;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 15px;
    }
    &-email {
        color: #212122;
        transition: 0.3s;
        display: block;
        margin-bottom: 25px;
        &:hover {
            text-decoration: underline;
            color: #e77561;
        }
    }
}
.copy {
    font-size: 12px;
    color: #7d7d7d;
}
.modal-dialog--modals {
    max-width: 1336px;
    width: 100%;
    .modal-body {
        padding: 48px 59px;
    }
}
.modal-content {
    border: 0;
    border-radius: 15px;
    strong {
        font-size: 15px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 27px;
    }
}
.district-list {
    display: flex;
    align-items: flex-start ;
    margin-bottom: 17px;
    width: 296px;
    &-letter {
        font-family: 'Philosopher', sans-serif;
        font-size: 20px;
        color: #7d7d7d;
        width: 34px;
    }
    &-list {
        margin-top: 8px;    
        display: flex;
        flex-direction: column;   
        align-items: flex-start; 
    }

}
#modal-district ,
#modal-services {
    .modal-close {
        right: 25px;
        top: 25px;
    }
    .icon {
        fill: #7d7d7d;
    }
}
.r-text {
    color: #e77561;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}
.s-text {
    color: #212122;
    font-weight: 500;
    margin-bottom: 10px;
}
.radio {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    margin-bottom: 15px;
    &:before {
        content: '';

    }
    input {
        display: none;
    }
    .checks {
        border-width: 1px;
        border-color: rgb(228, 230, 238);
        border-style: solid;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        display: block;
        width: 20px;
        height: 20px;
        display: flex;
        flex: 0 0 auto;
        margin-right: 11px;
    }
    input:checked + .checks {
        background-color: #f8d360;
        border-color: #f8d360;
        background-image: url(../images/svg/icon-check.svg);
        background-position: center;
        background-size: 20px;
    }
    span , strong {
        line-height: 1.2;
        margin-bottom: 0;
        text-transform: none;
    }
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}
.arrows {
    margin-left: 7px;
    margin-top: -4px;
 
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    position: relative;
    &:after {
        content: '5';
        font-family: 'ElegantIcons';
        font-size: 17px;
        color: #e77561;
        transform: rotate(90deg);
        transition: transform 0.3s;
    }
    &.active {
        &:after {
            transform: rotate(270deg);
        }
    }
}
.labes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    label {
        margin-bottom: 0;
    }
}
.labes-list {
    list-style: none;
    padding: 10px 0 0 30px;
    width: 100%;
    display: none;
    margin-bottom: 0;  
}
.column-cont {
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
}
.js-select-services,
.js-select-letter {
    margin-top: -60px;
    z-index: 10;
}
#modal-calculate {
    .modal-dialog {
        max-width: 650px;
    }
    .modal-close {
        right: 20px;
        top: 20px;
    }
    .icon {
        fill: #7d7d7d;
    }
    .modal-body {
        padding: 70px 80px;
        @include small {
            padding: 60px 15px;
        }
    }
    strong {
        text-transform: none;
        margin-bottom: 0;
    }
}
.pricing-item {
    margin-bottom: 25px;
    display: flex;
    font-size: 15px;
    @include small {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    &__name {
        width: 260px;
        @include small {
            width: auto;
            margin-right: 10px;
        }
    }
}
.modal-warn {
    text-align: center;
    margin-bottom: 20px;
}
.pricing-item__warn {
    position: relative;
    &:after {
        content: "*";
        color: #e77561;
        position: relative;
        left: 3px;
    }
}
.pricing-item__val {
    position: relative;
    &:after {
        content: "м2";
        position: relative;
        left: 3px;        
        
    }
}


#modal-callback {
    .modal-dialog {
        max-width: 650px;
    }
    .modal-close {
        right: 20px;
        top: 20px;
    }
    .icon {
        fill: #7d7d7d;
    }
    .modal-body {
        padding: 70px 80px;
        background-color: #f6f7f9;
        border-radius: 10px;
        @include small {
            padding: 60px 15px;
        }
    }
    .politic a {
        font-weight: 500;
    }
    .h-title {
        text-align: center;
        display: block;
    }
    form {
        max-width: 424px;
        margin: 0 auto;
        button {
            margin: 0 auto;
            display: block;
        }
    }
    .form-input {
        max-width: 100%;
    }
}