mixin reviews
    .reviews-block#reviews-block
        .container-fluid
            .reviews-header
                h6.h-title Отзывы:
                    span.rating 4.1
                a(href="").add-reviews.btn.btn--reviews Оставить отзыв
            .reviews-rating
                .rating-item
                    .rating-item__name Экспертность
                    .rating-item__stars
                        .reviews-stars
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star
                                svg.icon
                                    use(xlink:href="#icon_star")                     
                .rating-item
                    .rating-item__name Выполнение сроков
                    .rating-item__stars
                        .reviews-stars
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star
                                svg.icon
                                    use(xlink:href="#icon_star")  
                .rating-item
                    .rating-item__name Сервис
                    .rating-item__stars
                        .reviews-stars
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star
                                svg.icon
                                    use(xlink:href="#icon_star")   
                .rating-item
                    .rating-item__name Цена
                    .rating-item__stars
                        .reviews-stars
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star
                                svg.icon
                                    use(xlink:href="#icon_star")  
                .rating-item
                    .rating-item__name Качество работ
                    .rating-item__stars
                        .reviews-stars
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star.reviews__star--active
                                svg.icon
                                    use(xlink:href="#icon_star")
                            .reviews__star
                                svg.icon
                                    use(xlink:href="#icon_star")
            .review-list
                .review
                    .review__header
                        .user
                            .user__avatar
                                img(data-src="images/avatar.jpg", alt="").lazyload
                            .user__info
                                h6.user__name Михаил Тойхерт
                                    span.rating 5.0
                                .user__date 25 июня 2019, 13:10
                    .review-body
                        p Товарищи! новая модель организационной деятельности позволяет оценить значение систем массового участия. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании существенных финансовых и&nbsp;административных условий. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности позволяет выполнять важные задания по&nbsp;разработке модели развития.
                .review
                    .review__header
                        .user
                            .user__avatar
                                img(data-src="images/avatar.jpg", alt="").lazyload
                            .user__info
                                h6.user__name Михаил Тойхерт
                                    span.rating 5.0
                                .user__date 25 июня 2019, 13:10
                                .user__date 25 июня 2019, 13:10
                    .review-body.body-text
                        .review-body.small-text
                            p С&nbsp;другой стороны рамки и&nbsp;место обучения кадров обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании новых предложений. <br>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и&nbsp;уточнения новых предложений.
                            p Разнообразный и богатый опыт рамки и место...     
                                strong 
                                    a(href="").js-alltext Читать полностью                        
                        .review-body.all-text
                            p С&nbsp;другой стороны рамки и&nbsp;место обучения кадров обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании новых предложений. <br>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и&nbsp;уточнения новых предложений.
                            p С&nbsp;другой стороны рамки и&nbsp;место обучения кадров обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании новых предложений. <br>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и&nbsp;уточнения новых предложений.
                            
                .review
                    .review__header
                        .user
                            .user__avatar
                                img(data-src="images/avatar.jpg", alt="").lazyload
                            .user__info
                                h6.user__name Михаил Тойхерт
                                    span.rating 5.0
                                .user__date 25 июня 2019, 13:10
                    .review-body
                        p Товарищи! новая модель организационной деятельности позволяет оценить значение систем массового участия. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании существенных финансовых и&nbsp;административных условий. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности позволяет выполнять важные задания по&nbsp;разработке модели развития.
                .review
                    .review__header
                        .user
                            .user__avatar
                                img(data-src="images/avatar.jpg", alt="").lazyload
                            .user__info
                                h6.user__name Михаил Тойхерт
                                    span.rating 5.0
                                .user__date 25 июня 2019, 13:10
                    .review-body.body-text
                        .review-body.small-text
                            p С&nbsp;другой стороны рамки и&nbsp;место обучения кадров обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании новых предложений. <br>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и&nbsp;уточнения новых предложений.
                            p Разнообразный и богатый опыт рамки и место...     
                                strong 
                                    a(href="").js-alltext Читать полностью                        
                        .review-body.all-text
                            p С&nbsp;другой стороны рамки и&nbsp;место обучения кадров обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании новых предложений. <br>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и&nbsp;уточнения новых предложений.
                            p С&nbsp;другой стороны рамки и&nbsp;место обучения кадров обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании новых предложений. <br>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и&nbsp;уточнения новых предложений.
                            
            a(href="").show-all
                span(data-icon="3") Все отзывы