.reviews-block {
    padding-top: 81px;
    padding-bottom: 100px;
    @include large {
        padding-top: 70px;
    }
    @include medium {
        padding-top: 59px;
    }
    @include small {
        padding-top: 53px;
    }
}


.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    @include large {
        margin-bottom: 31px;
    }
    @include small {
        flex-direction: column;
    }
    .h-title {
        margin-bottom: 0;
        @include small {
            margin-bottom: 27px;
        }
    }
}
.rating {
    font-weight: 500;
    display: inline-block;
    background-color: rgb(248, 211, 96);
    border-radius: 10px 10px 10px 0;
    font-size: 13px;
    margin-left: 16px;
    padding: 5px 7px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: -2px;
}
.add-reviews {
    font-weight: 500;
    color: #212122;
    border-width: 1px;
    border-color: rgb(231, 117, 97);
    border-style: solid;    

    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover {
        background-color: rgb(231, 117, 97);
        color: #ffffff;
    }
    @include medium {
        max-width: 234px;
        width: 100%;
        padding: 1.38rem 0 ;
    }
    @include small {
        max-width: 375px;
        font-size: 14px;
    }
}
.reviews-rating {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 36px 46px 16px;
    margin-bottom: 60px;
    @include large {
        padding: 34px 28px 7px;
        margin-bottom: 40px;
    }
    @include medium {
        padding: 27px 28px 2px;
        justify-content: space-between;
        margin-bottom: 33px;
    }
    @include small {
        flex-direction: column;
        padding: 25px 10px 2px 14px ;
    }
}
.rating-item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    max-width: 33%;
    width: 100%;
    margin-bottom: 24px;
    @include large {
        justify-content: space-between;
    }
    @include medium {
        max-width: 46%;
        justify-content: flex-start;
        align-items: center;
    }
    @include small {
        max-width: none;
        justify-content: space-between;
        margin-bottom: 19px;
    }
    .reviews-stars {
        margin-bottom: 0;
    }
    .reviews__star {
        @include medium {
            margin-right: 5px;
        }
    }
    &__stars {
        .icon {
            font-size: 14px;
        }
    }
    &__name {
        max-width: 172px;
        width: 100%;
        flex: 0 0 auto;
        font-size: 16px;
        font-weight: 300;
        @include large {
            font-size: 15px;
            max-width: none;
            min-width: 100px;
            width: auto;
        }
        @include medium {
            max-width: 157px;
            width: 100%;
        }
        @include small {
            width: auto;
            max-width: none;
        }
    }
}
.review {
    max-width: 49%;
    padding: 40px 40px 7px;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
    margin-bottom: 32px;
    @include large {
        padding: 40px 29px 7px;
    }
    @include medium {
        max-width: none;
        padding: 29px 29px 0;
        margin-bottom: 20px;
    }
    @include small {
        padding: 32px 15px 0;
    }
    &__header {
        margin-bottom: 21px;
        @include large {
            margin-bottom: 16px;
        }
        @include small {
            margin-bottom: 13px;
        }
    }
    &-body {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.667;
        @include small {
            font-size: 14px;
            line-height: 1.642;
        }
        p {
            margin-bottom: 25px;
        }
        a {
            color: #212122;
        }
    }
}
.user {
    display: flex;
    align-items: center;
    @include small {
       align-items: flex-start;
    }
    &__avatar {
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 auto;
        width: 86px;
        height: 86px;
        img {
            width: 100%;
        }
        @include small {
            width: 50px;
            height: 50px;
        }
    }
    &__info {
        margin-left: 30px;
        @include small {
            margin-left: 18px;
            
        }
    }
    &__name {
        font-size: 18px;
        display: flex;
        align-items: center;
        @include small {
            display: flex;
            font-size: 16px;
            flex-direction: column;
            align-items: flex-start;
        }
        .rating {
            @include small {
                margin-top: 15px;
                margin-left: 0;
                display: inline-block;
            }
        }
    }
    &__date {
        font-weight: 300;
        font-size: 15px;
        color: #7d7d7d;
        letter-spacing: 0.05em;
        @include large {
            letter-spacing: 0;
        }
        @include small {
            font-size: 13px;
        }
    }
}
.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;
}
.all-text {
    display: none;
}