mixin recomendation_articles
    .recomendation_articles
        .d-sm-none
            .read-more Читайте также    
        a(href="").recomendation_articles__img
            img(src="images/rec.jpg", alt="")
        .recomendation_articles__info
            .d-sm-block.d-none
                .read-more Читайте также
            a(href="").reac_art__name Фундамент для тяжёлого забора из бетона или кирпича
            .reac_art__desc Хороший каменный забор возводится на хорошем бетонном фундаменте. В любом случае можно с уверенностью утверждать...
            a(href="").read-link Читать дальше