.recomendation_articles {
    border-width: 1px;
    border-color: rgb(228, 230, 238);
    border-style: solid;
    border-radius: 15px;
    min-height: 229px;
    display: flex;
    padding: 29px 30px;
    margin-bottom: 50px;
    @include medium {
        padding: 20px;
        margin-bottom: 26px;
    }
    @include small {
        flex-direction: column;
        padding: 14px;
        margin-bottom: 36px;
    }
    &__img {
        width: 220px;
        height: 135px;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;      
        margin-right: 30px;
        flex: 0 0 auto;
        @include medium {
            width: 180px;
            height: 109px;
        }
        @include small {
            width: 100%;
            height: 141px;
            margin-right: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }    
    }
    &__info {
        margin-top: 5px;
        @include small {
            margin-top: 18px;
        }
    }
}
.read-more {
    font-size: 12px;
    font-weight: 300;
    color: #7d7d7d;
    margin-bottom: 15px;
}
.reac_art__name {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.47;
    margin-bottom: 10px;
    color: #212122;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        color: #e77561;
    }
    @include small {
        font-size: 15px;
    }
}
.reac_art__desc {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 16px;
    @include small {
        margin-bottom: 11px;
    }
}
.read-link {
    font-weight: 500;
    color: #212122;
    font-size: 15px;
    text-decoration: underline;
    transition:  0.3s;
    &:hover {
        color: #e77561;
    }
}
