.contacts-index {
    padding: 100px 0 105px;
    background-color: #ffffff;
    @include large {
        padding: 90px 0;
    }
    @include medium {
        padding: 80px 0;
    }
    @include small {
        padding: 60px 0 45px;
    }
}
.contacts-block {
    display: flex;
    justify-content: space-between;
    @include small {
        flex-direction: column;
    }
}
.contacts-item {
    border-width: 1px;
    border-color: rgb(228, 230, 238);
    border-style: solid;
    border-radius: 15px;
    max-width: 49%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 40px 44px;
    line-height: 1.7;
    @include large {
        padding: 33px 29px;
    }
    @include small {
        max-width: none;
        margin-bottom: 15px;
        padding: 28px 18px;
    }
    .contacts-address {
        line-height: 1.9;
    }
    h6 {
        font-size: 26px;
        margin-bottom: 15px;
        @include medium {
            font-size: 22px;
            line-height: 1.4;
        }
    }
    p {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: #212122;
        padding-left: 12px;
    }
    .btn {
        max-width: 268px;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}
