mixin contacts-index
    section.contacts-index
        .container-fluid
            .contacts-block
                .contacts-item
                    h6 Юридическая информация
                    .contacts-address
                        p Юр. лиц: ООО «Строй Квадрат» <br>
                            | Директор: Стасов Вячеслав Михайлович <br>
                            | Кол-во афиллированных юр. лиц: 2<br>
                            | Судебные дела: 1     
                            strong
                                a(href="") Подробнее <br>
                            | Кол-во соучредителей: 2
                        .btn.btn--default Заказать выписку из ДНС
                .contacts-item.body-text
                    h6 Описание
                    .small-text
                        p Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют от нас анализа систем массового участия.
                        p Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу  
                            strong
                                a(href="").js-alltext Читать далее
                    .all-text
                        p Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют от нас анализа систем массового участия.
                        p Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют от нас анализа систем массового участия.