.read-articles {
    padding-top: 60px;
    @include medium {
        padding-top: 40px;
        .articles__img {
            height: 220px;
            
        }
        
        .articles-body {
            padding: 10px 15px 16px;
        }
    }
    @include small {
        .articles__img {
            height: 175px;
        }
 
    }
    .title {
        text-align: center;
        font-size: 26px;
        margin-bottom: 35px;
        @include large {
            text-align: left;
        }
        @include medium {
            font-size: 22px;
        }
        @include small {
            font-size: 20px;
        }
    }
    .articles-blog {
        padding-bottom: 50px;
    }
}