mixin read-articles
    .read-articles
        h3.title.title--black Читайте также:
        .articles-blog
            .row
                .col-lg-4.col-md-6
                    a(href="").articles 
                        .articles__img
                            img(data-src="images/articles-1.jpg", alt="").lazyload
                        .articles-body
                            .tag-list
                                .tag Новости
                            .articles__title 8 советов по выбору металлочерепицы для кровли
                            p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                        .articles-footer
                            .articles__date 24 марта 2020
                            .count-share 
                                svg.icon
                                    use(xlink:href="#icon-share")
                                span 146
                .col-lg-4.col-md-6
                    a(href="").articles 
                        .articles__img
                            img(data-src="images/articles-1.jpg", alt="").lazyload
                        .articles-body
                            .tag-list
                                .tag Обзор
                            .articles__title Фундамент для тяжёлого забора из бетона или кирпича
                            p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                        .articles-footer
                            .articles__date 24 марта 2020
                            .count-share 
                                svg.icon
                                    use(xlink:href="#icon-share")
                                span 146
                .col-lg-4.col-md-6
                    a(href="").articles 
                        .articles__img
                            img(data-src="images/articles-1.jpg", alt="").lazyload
                        .articles-body
                            .tag-list
                                .tag Новости
                            .articles__title 8 советов по выбору металлочерепицы для кровли
                            p Внешне похожая на натуральную черепицу, но более легкая и дешевая металлочерепица стала одним из самых востребованных материалов... 
                        .articles-footer
                            .articles__date 24 марта 2020
                            .count-share 
                                svg.icon
                                    use(xlink:href="#icon-share")
                                span 146