
.index-block {
    background-color: #f6f7f9;
    padding: 90px 0 100px;
    @include large {
        padding: 90px 0 80px;
    }
    @include medium{
        padding: 80px 0 80px;
    }    
    @include small {
        padding: 53px 0 60px;
    }
    .h-title {
        margin-bottom: 34px;
        @include large {
            margin-bottom: 28px;
        }
    }
    .object__images {
        @include small {
            margin: 0 auto;
            max-width: 390px;
            width: 100%;
        }
    }
}
.object__images {
    .swiper-button-prev {
        left: 20px;
    }
    .swiper-button-next {
        right: 20px;
    }
    .swiper-button-next:after, 
    .swiper-button-prev:after {
        font-size: 20px;
        color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }
    .swiper-button-next, .swiper-button-prev {
        border-radius: 50%;
        background-color: rgb(33, 33, 34);
        opacity: 0.6;
        width: 40px;
        height: 40px;
          
    }

}
.object-list {
    margin-bottom: 46px;
    @include large {
        margin-bottom: 39px;
    }


    &--catalog {
        margin-bottom: 43px;
        .object__images {
            height: 378px;
            @include large {
                height: 309px;
            }
            @include medium {
                min-width: 300px;
                width: 100%;
                height: 217px;
            }
            @include small {
                min-width: none;
                width: 100%;
                height: 213px;
            }
        }
        .object .swiper-pagination {
            bottom: 5px;
            @include small {
                bottom: 0;
            }
        }
    }
}
.object {
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 18px;
    overflow: hidden;
    @include large {
        padding: 20px;
        margin-bottom: 15px;
    }
    @include small {
        padding: 0;
        border-radius: 15px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .btn {
        font-weight: 500;
        padding: 1.38rem 0rem;
        width: 100%;
        max-width: 250px;
        @include medium {
            margin-left: auto;
            padding: 1.38rem 0rem;
            display: block;
            max-width: 240px;
        }
        @include small {
            margin: 0 auto;
            max-width: 375px;
        }
    }
    &__area {
        position: absolute;
        font-weight: 500;
        font-size: 20px;
        z-index: 5;
        border-radius: 5px;
        background-color: rgb(248, 211, 96);        
        min-width: 98px;
        top: 20px;
        left: 20px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #212122;
        padding: 0 15px;
        @include medium {
            top: 15px;
            left: 15px;
            font-size: 16px;
            min-width: 85px;
            height: 40px;
        }
        @include small {
            font-size: 15px;
            min-width: 77px;
            padding: 0 15px;
            
        }
    }
    &__images {
        position: relative;
        overflow: hidden;
        display: block;
        @include large {
            height: 310px;
            border-radius: 15px;
        }
        @include medium {
            
            width: 302px;
            height: 218px;
        }        
        @include small {
            border-radius: 0;
            max-width: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-container {
            height: 100%;
            @include medium {
                height: 215px;
            }
        }

    }
    .swiper-pagination {
        width: 90px;
        height: 39px;
        background-color: rgb(33, 33, 34);
        opacity: 0.6;
        right: 1px;
        bottom: 0;    
        z-index: 5;
        color: #ffffff;
        left: auto;     
        border-radius: 5px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center; 
        @include small {
            width: 65px;
            font-size: 12px;
        }
        span {
            margin: 0 4px;
        }
    }
    &__info {
        padding-left: 11px;
        padding-right: 43px;
        padding-bottom: 15px;
        @include large {
            padding-left: 5px;
        }
        @include medium {
            padding-left: 23px;
            padding-right: 0;
        }
        @include small {
            padding: 17px 15px;
        }
    }
    &__head {
        margin-bottom: 26px;
        padding-top: 39px;
        padding-bottom: 0;
        border-bottom: 1px solid #e4e6ee;
        @include large {
            padding-top: 4px;
            border-bottom: 0;
            margin-bottom: 0;
        }
        
        @include medium {
            
           
        }
    }
    &__name {
        font-size: 17px;
        font-weight: 500;
        color: #212122;
        margin-bottom: 17px;
        text-decoration: none;
        transition: 0.3s;
        display: block;
        &:hover {
            color: #e77561;
        }
        @include medium {
            font-size: 15px;

        }

    }
    &__characteristics {
        margin-bottom: 0;
        @include medium {
            padding-bottom: 42px;
            margin-bottom: 14px;
            border-bottom: 1px solid #e4e6ee;
        }
        @include small {
            border-bottom: 0;
            padding-bottom: 3px;
        }
    }
} 
.object__strong {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 16px;
    display: flex;
    @include medium {
        font-size: 13px;
    }

    .icon {
        margin-right: 18px;
        font-size: 19px;
        flex: 0 0 auto;
        @include medium {
            margin-right: 9px;
            font-size: 16px;
        }
    }
}

.object-characteristic {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @include large {
        margin-bottom: 18px;
    }
    @include medium {
        font-size: 13px;
        margin-bottom: 12px;
    }
    @include small {
    
        align-items: flex-start;
        margin-bottom: 10px;
    }

    &:last-child {
        margin-bottom: 0;
    }
    &__value {
        max-width: 150px;
        width: 100%;
    }
    &__icon {
        font-size: 19px;
        width: 50px;
        @include large {
            font-size: 16px;
            width: 38px;
        }
        @include medium {
            font-size: 14px;
            width: 30px;
        }

    }
    &__name {
        font-weight: 300;
        max-width: 177px;
        width: 100%;
        @include large {
            max-width: 124px;
        }
        @include medium {
            font-size: 13px;
            max-width: 107px;
        }
        @include small {
            max-width: 99px;
        }
    }
}
.object-characteristic-lft {
    display: flex;
    align-items: center;   
    width: 216px; 
    @include medium {
        width: 140px;
    }
    @include small {
        align-items: flex-start;
        margin-bottom: 6px;
    }
}
.show-all {
    font-weight: 500;
    border-width: 1px;
    border-color: rgb(33, 33, 34);
    border-style: solid;
    max-width: 270px;
    width: 100%;
    height: 60px;
    margin: 0 auto;      
    display: block;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #212122;
    transition: 0.3s;
    line-height: 27px;
    &:hover {
        background-color: #e77561;
        border-color: #e77561;
        color: #ffffff;
        span:after {
            color: #ffffff;
        }
    }
    @include medium {
        max-width: 240px;
    }
    @include small {
        max-width: 375px;
    }
    span {
        position: relative;
        display: flex;
        &:after {
            font-size: 27px;
            padding-left: 9px;
            color: #e77561;
        }
        
    }
    &.openeds {
        span::after {
            transform: rotate(180deg);
            padding-left: 0;
            padding-right: 9px;
        }
    }

}
.object-body {
    line-height: 1.6;
    padding: 23px 40px 15px 11px;
    height: 100%;
    font-size: 15px;
    @include large {
        padding: 6px 5px 0 4px;

    }
    @include medium {
        padding: 6px 5px 0 22px;
        line-height: 1.5;
    }
    @include small {
        padding: 23px 15px;
    }
    .object__name {
        @include large {
            margin-bottom: 11px;
        }
    }
    p {
        margin-bottom: 28px;
        @include large {
            margin-bottom: 10px;
        }
        @include medium {
            font-size: 13px;
            margin-bottom: 14px;
        }
    }
    .btn {
        padding: 1.38rem 3.6rem;
    }
    .reviews {
        display: flex;
        align-items: flex-end;
        line-height: 20px;
        margin-bottom: 25px;
        @include small {
            align-items: center;
            line-height: 21px;
            margin-bottom: 20px;
        }
    }
    .reviews__star {
        margin-right: 7px;
    }
    .reviews__count {
        color: #7d7d7d;
    }
    .reviews__link {
        color: #212122;
        line-height: 1;
        white-space: nowrap;
        &:hover {
            color: #e77561;
        }
    }
    .reviews-stars {
        margin-bottom: 0;
        margin-right: 28px;
        @include small {
            margin-right: 14px;
        }
    }
    .btn {
        @include medium {
            margin-left: 0;
            max-width: 196px;
        }
    }
}
.object-count-list {
    margin-bottom: 13px;
    @include large {
        margin-bottom: 7px;
    }
    @include medium {
        margin-bottom: 11px;
    }
}
.object-count  {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @include large {
        margin-bottom: 6px;
    }
    @include medium {
        font-size: 13px;
        margin-bottom: 14px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    span {
        width: 220px;
        @include medium {
            width: 189px;
        }
    }
}
.pagintaion  {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    @include small {
        justify-content: space-between;
        max-width: 320px;
        margin: 0 auto;
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 15px;
        margin: 0 8px 0 18px;
        @include small {
            margin: 0;
        }
    }
    &__link {
        background-color: #e4e6ee;
        color: #212122;
        width: 60px;
        height: 60px;
        font-size: 15px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        border-radius: 10px;
        margin-left: 10px;
        transition: 0.3s;
        &--next ,
        &--prev {
            font-size: 22px;
            font-family: 'ElegantIcons';
            font-weight: normal;
            font-variant: normal;
            line-height: 1;
            content: attr(data-icon);
            text-transform: none;
            speak: none;
            -webkit-font-smoothing: antialiased;           
        }
        @include small {
            display: none;
            width: 54px;
            height: 54px;
            &:first-child ,
            &:nth-child(2) ,
            &:nth-last-child(2) ,
            &:nth-last-child(1) {
                display: flex;
                margin-left: 0;
            }
        }


        &--disabled {
            pointer-events: none;
            color: #959595;
        }
        &--active ,
        &:hover {
            background-color: #f8d360;
        }
    }
}
.swiper-slide {
    height: auto;
}