mixin index-project
    section.index-block
        h5.h-title 
            span ВЫПОЛНЕННЫЕ ОБЪЕКТЫ: ЗА ВСЕ ВРЕМЯ 50, ПРЕДСТАВЛЕНО НА САЙТЕ
                span.count 10
        .object-list
            .object
                .row
                    .col-md-5
                        a(href="").object__images
                            .object__area 300 м
                                sup 2
                            .object-slider.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                    .swiper-slide
                                        img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                    .swiper-slide
                                        img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                .swiper-pagination
                                .js-slider-img.swiper-button-next(data-icon="5")
                                .js-slider-img.swiper-button-prev(data-icon="4")
                    .col-md-7
                        .object__info
                            .object__head
                                a(href="").object__name Строительство одноэтажного дома под ключ
                            .object__strong
                                svg.icon
                                    use(xlink:href="#icon-address")
                                span МО, Сергиево-Посадский р-н, поселок Ольшанский
                            .object__strong
                                svg.icon
                                    use(xlink:href="#icon-home-2")
                                span Клееный брус, облицовочный кирпич, черепица
                            .row.align-items-end
                                .col-12.col-lg-7.col-xl-8
                                    .object__characteristics
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-price")
                                                .object-characteristic__name Стоимость:
                                            .object-characteristic__value
                                                strong 3 750 000 ₽
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-area")
                                                .object-characteristic__name Площадь:
                                            .object-characteristic__value
                                                strong 300 м
                                                    sup 2
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-deadlines")
                                                .object-characteristic__name Сроки:
                                            .object-characteristic__value
                                                strong 3 месяца
                                .col-12.col-lg-5.col-xl-4
                                    a(href="").btn.btn--red Посмотреть вживую
            .object
                .row
                    .col-md-5
                        a(href="").object__images
                            .object__area 300 м
                                sup 2
                            .object-slider.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                    .swiper-slide
                                        img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                    .swiper-slide
                                        img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                .swiper-pagination
                                .js-slider-img.swiper-button-next(data-icon="5")
                                .js-slider-img.swiper-button-prev(data-icon="4")
                    .col-md-7
                        .object__info
                            .object__head
                                a(href="").object__name Строительство одноэтажного дома под ключ
                            .object__strong
                                svg.icon
                                    use(xlink:href="#icon-address")
                                span МО, Сергиево-Посадский р-н, поселок Ольшанский
                            .object__strong
                                svg.icon
                                    use(xlink:href="#icon-home-2")
                                span Клееный брус, облицовочный кирпич, черепица
                            .row.align-items-end
                                .col-12.col-lg-7.col-xl-8
                                    .object__characteristics
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-price")
                                                .object-characteristic__name Стоимость:
                                            .object-characteristic__value
                                                strong 3 750 000 ₽
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-area")
                                                .object-characteristic__name Площадь:
                                            .object-characteristic__value
                                                strong 300 м
                                                    sup 2
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-deadlines")
                                                .object-characteristic__name Сроки:
                                            .object-characteristic__value
                                                strong 3 месяца
                                .col-12.col-lg-5.col-xl-4
                                    a(href="").btn Узнать подробнее
            .object
                .row
                    .col-md-5
                        a(href="").object__images
                            .object__area 300 м
                                sup 2
                            .object-slider.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                    .swiper-slide
                                        img(src="" data-src='images/slider/2.jpg', alt='Изображение' class="lazyload")
                                    .swiper-slide
                                        img(src="" data-src='images/slider/1.jpg', alt='Изображение' class="lazyload")
                                .swiper-pagination
                                .js-slider-img.swiper-button-next(data-icon="5")
                                .js-slider-img.swiper-button-prev(data-icon="4")
                    .col-md-7
                        .object__info
                            .object__head
                                a(href="").object__name Строительство одноэтажного дома под ключ
                            .object__strong
                                svg.icon
                                    use(xlink:href="#icon-address")
                                span МО, Сергиево-Посадский р-н, поселок Ольшанский
                            .object__strong
                                svg.icon
                                    use(xlink:href="#icon-home-2")
                                span Клееный брус, облицовочный кирпич, черепица
                            .row.align-items-end
                                .col-12.col-lg-7.col-xl-8
                                    .object__characteristics
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-price")
                                                .object-characteristic__name Стоимость:
                                            .object-characteristic__value
                                                strong 3 750 000 ₽
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-area")
                                                .object-characteristic__name Площадь:
                                            .object-characteristic__value
                                                strong 300 м
                                                    sup 2
                                        .object-characteristic
                                            .object-characteristic-lft
                                                .object-characteristic__icon
                                                    svg.icon
                                                        use(xlink:href="#icon-deadlines")
                                                .object-characteristic__name Сроки:
                                            .object-characteristic__value
                                                strong 3 месяца
                                .col-12.col-lg-5.col-xl-4
                                    a(href="").btn.btn--red Посмотреть вживую
        
        a(href="").show-all
            span(data-icon="3") Показать еще
            
